<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<mat-card appearance="outlined" class="tangy-full-width">
  <mat-card-content>
    <form class="tangy-input-width" novalidate #addRoleForm="ngForm">
      <mat-form-field class="tangy-input-width">
        <input name="role" [(ngModel)]="newRole" #role="ngModel" matInput (blur)="doesRoleExistOnGroup(newRole)"
          placeholder="{{'Role Name'|translate}}" required>
        <span>
          @if ((roleExists!==null&&roleExists)&&(role.dirty || role.touched)) {
            <mat-error
              style="font-size:75%;"> {{'Role Unavailable'|translate}}
            </mat-error>
          }
          @if ((roleExists!==null&&!roleExists)&&(role.dirty || role.touched)) {
            <mat-error
            style="font-size:75%;color: green"> {{'Role Available'|translate}}</mat-error>
          }
          @if ((role.invalid||role.errors) && (role.dirty || role.touched)) {
            <mat-error>
              {{'This Field is Required'|translate}}
            </mat-error>
          }
        </span>
      </mat-form-field>
      @if (permissionsList) {
        <p class="tangy-input-width">
          @for (permission of permissionsList; track permission) {
            <mat-checkbox #f (change)="onSelectChange(permission, f.checked)"
              [name]="permission">
              {{permission}}
            </mat-checkbox>
          }
        </p>
      }
      <p>
        <button [disabled]="addRoleForm.invalid||roleExists||roleExists===null" mat-raised-button color="warn"
        (click)="submit()">{{'Add Role'|translate}}</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>