<?xml version='1.0' encoding='utf-8'?>
<widget id="org.rti.tangerine" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tangerine</name>
    <description>
        Mobile data collection system.
    </description>
    <author email="ict-admin@rti.org" href="github.com/Tangerine-Community/Tangerine">
        Tangerine dream team
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <allow-navigation href="tangerinecentral.org" />
    <allow-intent href="*" />
    <access origin="*" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
