<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div id="header">
  <tangy-location #tangyLocation></tangy-location>
  <div id="header-buttons">
    <paper-button id="reset-button" (click)="onResetClick()">reset</paper-button>
    <paper-button id="search-button" (click)="onSearchClick()">search</paper-button>
  </div>
</div>
<div class="loading" *ngIf="loading">Loading...</div>
<div class="no-cases-found" *ngIf="cases && cases.length === 0">No cases found.</div>
<div [hidden]="loading" #searchResults></div>
<div id="paginator" [hidden]="loading" *ngIf="cases && cases.length > 0">
  <paper-icon-button icon="arrow-back" class="previous" (click)="onPreviousClick()" [disabled]="skip == 0"></paper-icon-button>
  <paper-icon-button icon="arrow-forward" class="next" (click)="onNextClick()"></paper-icon-button>
</div>