<span class="class-dashboard-button-spacer-left">
  <button mat-button [matMenuTriggerFor]="classesMenu" class="white-menu-item">
    <mat-icon class="material-icons menu-tangy-location-list-icon white-menu-item">school</mat-icon>
<!--      <span>{{'Grade: '|translate}}{{getClassTitle(selectedClass)}}</span>-->
      <span>{{'Classes'|translate}}</span>
    </button>
  <mat-menu #classesMenu="matMenu">
    <ng-template [ngIf]="enabledClasses.length > 0">
    <span *ngFor="let class of enabledClasses; let classIndex=index"
          class="class-dashboard-curr-button-spacer">
<!--    <button mat-menu-item [matMenuTriggerFor]="catMenu">-->
    <button mat-menu-item [routerLink]="['/attendance-dashboard/']"
            [queryParams]={classIndex:classIndex}>
        {{getClassTitle(class.doc)}}
      </button>
      <!--      <mat-menu #catMenu="matMenu">-->
      <!--        <ng-container *ngFor="let curriculum of class.doc.items[0].inputs[3].value;">-->
      <!--          <button mat-menu-item *ngIf="curriculum.value ==='on'"-->
      <!--                  [routerLink]="['/dashboard/']"-->
      <!--                  [queryParams]={classIndex:classIndex,curriculumId:curriculum.name}>-->
      <!--              {{curriculum.label}}-->
      <!--            </button>-->
      <!--        </ng-container>-->
      <!--      </mat-menu>-->
      </span>
    </ng-template>
        <mat-divider></mat-divider>
        <button mat-menu-item
                [routerLink]="['/class-form/']"
                [queryParams]='classRegistrationParams'>
          {{'Add Class'|translate}}
        </button>
        <button mat-menu-item
                [routerLink]="['/class-form/']"
                [queryParams]={curriculum:studentRegistrationCurriculum,classId:selectedClass?._id}>
          {{'Add Student'|translate}}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/attendance-dashboard/']"
                [queryParams]='classRegistrationParams'>
          <span>{{'Dashboard'|translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/attendance-check/']"
                [queryParams]='classRegistrationParams'>
          <span>{{'Attendance'|translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/behavior-check/']"
                [queryParams]='classRegistrationParams'>
          <span>{{'Behavior'|translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/attendance-scores/']"
                [queryParams]='classRegistrationParams'>
          <span>{{'Scores'|translate}}</span>
        </button>
  </mat-menu>
  </span>

<span class="class-dashboard-button-spacer-right">
    <button mat-button [matMenuTriggerFor]="reportsMenu" class="white-menu-item">
      <mat-icon class="material-icons menu-tangy-location-list-icon white-menu-item">dashboard</mat-icon>
      <span>{{'Reports'|translate}}</span>
    </button>
<!--      <mat-menu #groupingMenu="matMenu">-->
<!--        <ng-template matMenuContent>-->
<!--          <button mat-menu-item *ngFor="let item of formList"-->
<!--                  routerLink="/reports/grouping/{{item.id}}/{{item.classId}}/{{item.curriculumId}}">{{item.title}}</button>-->
<!--        </ng-template>-->
<!--      </mat-menu>-->
      <mat-menu #reportsMenu="matMenu">
<!--        <ng-template matMenuContent>-->
<!--          <button mat-menu-item [matMenuTriggerFor]="groupingMenu">{{'Class grouping'|translate}}</button>-->
<!--          &lt;!&ndash;<button mat-menu-item [matMenuTriggerFor]="progressMenu">{{'Student Progress Table'|translate}}</button>&ndash;&gt;-->
<!--          <button mat-menu-item-->
<!--                  routerLink="/reports/studentSubtestReport/{{selectedClass?._id}}">{{'Student Subtest Report'|translate}}</button>-->
<!--          <button mat-menu-item-->
<!--                  routerLink="/reports/taskReport/{{selectedClass?._id}}">{{'Task Report'|translate}}</button>-->
          <button mat-menu-item
                  routerLink="/reports/attendance/{{selectedClass?._id}}">{{'Attendance and Behaviour'|translate}}</button>
          <!--        <button mat-menu-item routerLink="/reports/grades/{{selectedClass.id}}">{{'Grades'|translate}}</button>-->
          <!--        </ng-template>-->
      </mat-menu>
    </span>