<span class="class-dashboard-button-spacer-left">
  <button mat-button [matMenuTriggerFor]="classesMenu" class="white-menu-item">
    <mat-icon class="material-icons menu-tangy-location-list-icon white-menu-item">edit</mat-icon>
    <span>{{'Grade'|translate}} <ng-template [ngIf]="selectedClass">: {{getClassTitle(selectedClass)}}</ng-template></span>
<!--      <span>{{'Classes'|translate}}</span>-->
    </button>
  <mat-menu #classesMenu="matMenu">
    <ng-template [ngIf]="enabledClasses.length > 0">
        <button mat-menu-item disabled class="menu-section-header">
          {{'Change Class'|translate}}
        </button>
    <span *ngFor="let klass of enabledClasses; let classIndex=index"
          class="class-dashboard-curr-button-spacer">
    <button mat-menu-item [matMenuTriggerFor]="curriculumMenu" *ngIf="!klass.ignoreCurriculumsForTracking; else noCurriculums">
<!--    <button mat-menu-item [routerLink]="['/attendance-dashboard/']"-->
<!--            [queryParams]={classIndex:classIndex}>-->
        {{getClassTitle(klass.doc)}}
      </button>
      <mat-menu #curriculumMenu="matMenu">
        <ng-container *ngFor="let curriculum of klass.doc.items[0].inputs[3].value;">
          <button mat-menu-item *ngIf="curriculum.value ==='on'"
                  [routerLink]="['/attendance-dashboard/']"
                  [queryParams]={classIndex:classIndex,curriculumId:curriculum.name}>
            {{curriculum.label}}
            </button>
        </ng-container>
      </mat-menu>
      <ng-template #noCurriculums>
        <button mat-menu-item [routerLink]="['/attendance-dashboard/']"
                        [queryParams]={classIndex:classIndex}>
            {{getClassTitle(klass.doc)}}
        </button>
      </ng-template>
      </span>
      
    </ng-template>
<!--    <span dir="rtl" *ngFor="let klass of enabledClasses; let classIndex=index" class="class-dashboard-curr-button-spacer">-->
<!--      <button mat-menu-item [matMenuTriggerFor]="catMenu">-->
<!--        {{getClassTitle(klass.doc)}}-->
<!--      </button>-->
<!--      <mat-menu #catMenu="matMenu">-->
<!--        <ng-template matMenuContent>-->
<!--          <span *ngFor="let curriculum of klass.doc.items[0].inputs[3].value;">-->
<!--            <button mat-menu-item *ngIf="curriculum.value ==='on'" (click)="populateCurriculum(classIndex, curriculum.name)">{{curriculum.label}}</button>-->
<!--          </span>-->
<!--        </ng-template>-->
<!--      </mat-menu>-->
<!--    </span>-->
        <mat-divider></mat-divider>
        <button mat-menu-item
                [routerLink]="['/class-form/']"
                [queryParams]='classRegistrationParams'>
          {{'Add Class'|translate}}
        </button>
        <button mat-menu-item
                [routerLink]="['/class-form/']"
                [queryParams]={curriculum:studentRegistrationCurriculum,classId:selectedClass?._id}
                *ngIf="selectedClass">
          {{'Add Student'|translate}}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/attendance-check/']"
                [queryParams]='classRegistrationParams'
                *ngIf="selectedClass">
          <span>{{'Attendance'|translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/behavior-check/']"
                [queryParams]='classRegistrationParams'
                *ngIf="selectedClass">
          <span>{{'Behavior'|translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="['/attendance-scores/']"
                [queryParams]='classRegistrationParams'
                *ngIf="selectedClass">
          <span>{{'Scores'|translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/reports/attendance/{{selectedClass?._id}}">{{'Report'|translate}}</button>
  </mat-menu>
  </span>

<!--<span class="class-dashboard-button-spacer-right">-->
<!--    <button mat-button [matMenuTriggerFor]="reportsMenu" class="white-menu-item">-->
<!--      <mat-icon class="material-icons menu-tangy-location-list-icon white-menu-item">dashboard</mat-icon>-->
<!--      <span>{{'Reports'|translate}}</span>-->
<!--    </button>-->
  
<!--      <mat-menu #groupingMenu="matMenu">-->
<!--        <ng-template matMenuContent>-->
<!--          <button mat-menu-item *ngFor="let item of formList"-->
<!--                  routerLink="/reports/grouping/{{item.id}}/{{item.classId}}/{{item.curriculumId}}">{{item.title}}</button>-->
<!--        </ng-template>-->
<!--      </mat-menu>-->
  
<!--      <mat-menu #reportsMenu="matMenu">-->
        
<!--        <ng-template matMenuContent>-->
<!--          <button mat-menu-item [matMenuTriggerFor]="groupingMenu">{{'Class grouping'|translate}}</button>-->
<!--          &lt;!&ndash;<button mat-menu-item [matMenuTriggerFor]="progressMenu">{{'Student Progress Table'|translate}}</button>&ndash;&gt;-->
<!--          <button mat-menu-item-->
<!--                  routerLink="/reports/studentSubtestReport/{{selectedClass?._id}}">{{'Student Subtest Report'|translate}}</button>-->
<!--          <button mat-menu-item-->
<!--                  routerLink="/reports/taskReport/{{selectedClass?._id}}">{{'Task Report'|translate}}</button>-->
        
<!--          <button mat-menu-item-->
<!--                  routerLink="/reports/attendance/{{selectedClass?._id}}">{{'Attendance and Behaviour'|translate}}</button>-->
        
          <!--        <button mat-menu-item routerLink="/reports/grades/{{selectedClass.id}}">{{'Grades'|translate}}</button>-->
          <!--        </ng-template>-->
<!--      </mat-menu>-->
<!--    </span>-->