
/* @TODO Why do we need to set display? Otherwise it's hidden. */
app-case-breadcrumb {
    display: block;
}

.subject-header {
    background: #212a3f;
    color: white;
    font-size: 1em;
    padding: 15px;
}

.subject-header iron-icon {
    width: 72px;
    height: 72px;
    position: relative;
    bottom: 5px; 
}

.subject-header h1 {
    font-size: 3em;
}

.subject-header div[secondary] {
    margin-left: 10px;
}

.manifest {
    display: none;
    margin: 5px 50px;
}
.manifest.ready {
    display: block;
}
.wrapper {
    margin: 15px;
}
paper-button {
    background: var(--accent-color);
    color: white;
}
paper-card {
    text-align: left;
}
.event-cards {
    text-align: center;
}
.event-card {
    width: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.required::before {
    content: "*";
    position: absolute;
    top: -3px;
    color: red;
    left: -9px;
    font-size: 42px;
}

:host {
    position: relative;
}