<app-case-breadcrumb *ngIf="ready" [caseId]="caseService.case._id"></app-case-breadcrumb>

<div *ngIf="ready" class="subject-header">
  <h1>
    <span [innerHTML]="templateTitle|unsanitizeHtml"></span> 
  </h1>
  <div secondary>
    <span [innerHTML]="templateDescription|unsanitizeHtml"></span> 
  </div>
</div>

<div *ngIf="ready" class="wrapper">
  <div *ngFor="let eventInfo of caseEventsInfo">
    <paper-icon-item 
      class="event {{eventInfo.caseEventDefinition.required ? 'required' : ''}}" 
      *ngFor="let caseEvent of eventInfo.caseEvents"
      routerLink="/case/event/{{caseService.case._id}}/{{caseEvent.id}}"
    >
      <iron-icon icon="{{caseEvent.complete ? 'notification:event-available' : 'event'}}" slot="item-icon"></iron-icon> 
      <paper-item-body two-line>
        <div><span [innerHTML]="eventInfo.caseEventDefinition.name|unsanitizeHtml"></span> ({{caseEvent.id.substr(0,6)}})</div>
        <div secondary>
          {{'Opened'|translate}}: 
            {{caseEvent.startDate | date:'medium'}},
          {{'Status'|translate}}: 
            <span *ngIf="!caseEvent.complete">{{'Incomplete'|translate}}</span>
            <span *ngIf="caseEvent.complete">{{'Complete'|translate}}</span> 
        </div>
      </paper-item-body>
    </paper-icon-item>
  </div>
  <paper-icon-item 
    class="event new-event" 
  >
    <iron-icon icon="event" slot="item-icon"></iron-icon> 
    <paper-item-body two-line>
      <div>
        {{'New Event'|translate}}
      </div>
      <div secondary>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="dropdown-container">
            <tangy-select name="selected-event-type" [(ngModel)]="selectedNewEventType">
              <option value="" disabled selected>Choose type...</option>
              <option *ngFor="let eventInfo of creatableCaseEventsInfo" [value]="eventInfo.caseEventDefinition.id">{{eventInfo.caseEventDefinition.name}}</option>
            </tangy-select>
          </div>
          <div>
            <div class="dropdown-container">
              <tangy-input type="date" name="event-date" inner-label=" " [(ngModel)]="inputSelectedDate"></tangy-input>
            </div>
          </div>
          <div class="text-right">
              <paper-button (click)="onSubmit()">Create</paper-button>
          </div>
        </form>
      </div>
    </paper-item-body>
  </paper-icon-item>
</div>