<app-case-breadcrumb *ngIf="ready" [caseId]="caseService.case._id"></app-case-breadcrumb>

<div *ngIf="ready" class="subject-header">
  <h1>
    <span [innerHTML]="templateTitle|unsanitizeHtml"></span> 
  </h1>
  <div secondary>
    <span [innerHTML]="templateDescription|unsanitizeHtml"></span> 
  </div>
</div>

<div *ngIf="ready" class="wrapper">
  <div class="event-cards" *ngIf="caseService">
    <div *ngFor="let eventInfo of caseService.eventsInfo">
      <paper-icon-item 
        class="event {{eventInfo.required ? 'required' : ''}}" 
        *ngFor="let caseEvent of eventInfo.caseEvents"
        routerLink="/case/event/{{caseService.case._id}}/{{caseEvent.id}}"
      >
        <iron-icon icon="{{caseEvent.complete ? 'notification:event-available' : 'event'}}" slot="item-icon"></iron-icon> 
        <paper-item-body two-line>
          <div><span [innerHTML]="eventInfo.caseEventDefinition.name|unsanitizeHtml"></span> ({{caseEvent.id.substr(0,6)}})</div>
          <div secondary>
            {{'Opened'|translate}}: 
              {{caseEvent.startDate | date:'medium'}},
            {{'Status'|translate}}: 
              <span *ngIf="!caseEvent.complete">{{'Incomplete'|translate}}</span>
              <span *ngIf="caseEvent.complete">{{'Complete'|translate}}</span> 
          </div>
        </paper-item-body>
      </paper-icon-item>
    </div>
    <paper-icon-item 
      class="event new-event" 
    >
      <iron-icon icon="event" slot="item-icon"></iron-icon> 
      <paper-item-body two-line>
        <div>
          {{'New Event'|translate}}
        </div>
        <div secondary>
          <form (ngSubmit)="onSubmit()" #form="ngForm">
            <select name="selected-event-type" [(ngModel)]="selectedNewEventType">
              <option *ngFor="let availableEventType of availableEventTypes" [value]="availableEventType.id">{{availableEventType.name}}</option>
            </select>
            <input type="date" name="event-date" [(ngModel)]="inputSelectedDate">
            <button type="submit">create</button>
          </form>
        </div>
      </paper-item-body>
    </paper-icon-item>
  </div>
</div>