
/* @TODO Why do we need to set display? Otherwise it's hidden. */
app-case-breadcrumb {
    display: block;
}

.subject-header {
    background: #212a3f;
    color: white;
    font-size: 1em;
    padding: 15px;
}

.subject-header iron-icon {
    width: 72px;
    height: 72px;
    position: relative;
    bottom: 5px; 
}

.subject-header h1 {
    font-size: 3em;
}

.subject-header div[secondary] {
    margin-left: 10px;
}

.manifest {
    display: none;
    margin: 5px 50px;
}

.manifest.ready {
    display: block;
}

.wrapper {
    margin: 0px;
}

.event {
    background: #FFF;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

.event.required {
    border-left: red solid 4px;
}

.event.new-event {
    border-style: dashed;
}

.event.complete {
    background: #CCC;
}

:host {
    position: relative;
}