
.confirm-correct-case-prompt {
    width: 100%;
    margin-top: 15px;
}
.confirm-correct-case-prompt .button {
    background: var(--accent-color);
}
.cover-when-not-confirmed {
    position: absolute;
    background: #000;
    opacity: .5;
    z-index: 987654321;
    width: 100%;
    height: 5000px;
}
/* @TODO Why do we need to set display? Otherwise it's hidden. */
app-case-breadcrumb {
    display: block;
}

.subject-header {
    background: var(--primary-color);
    color: var(--primary-text-color-overlay);
    font-size: 1em;
    padding: 15px 15px 45px 15px;
}

.subject-header iron-icon {
    width: 72px;
    height: 72px;
    position: relative;
    bottom: 5px; 
}

.subject-header h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
    color: var(--primary-text-color-overlay);
}

.subject-header div[secondary], .subject-header h1 {
    margin-left: 10px;
}

.subject-header .description {
    line-height: 2rem;

}

.subject-header .button {
    margin: 0px;
}

.manifest {
    display: none;
    margin: 5px 50px;
}

.manifest.ready {
    display: block;
}

.wrapper {
    position: relative;
    margin: 0px;
}

.event {
    background: #FFF;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

.event.required {
    border-left: red solid 4px;
}

.event.new-event {
    border-style: dashed;
}

.event.complete {
    background: #CCC;
}

:host {
}


.dropdown-container {
    position: relative;
    display: inline-block;
}
.dropdown-container:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid #737373;
    pointer-events: none;
}
.dropdown-container select,
.dropdown-container input[type="date"] {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #737373;
}
.dropdown-container select {
    appearance: none;
}
.dropdown-container option:disabled {
    color: rgba(0,0,0, 0.26);
}
.dropdown-container input[type="date"] {
    padding-bottom: 3px;
}
.dropdown-container input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.dropdown-container input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.new-event form {
    display: flex;
    flex-direction: row;
}
.new-event .one-third {
    width: 33%;
    padding: 0 15px;
    display: inline-block;
}
.new-event .one-third:first-child {
    padding-left: 0;
}
.new-event .one-third:last-child {
    padding-right: 0;
}

.new-event {
    position: relative;
}
.new-event form {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.new-event form > div, .new-event form > paper-button {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 33%;
    padding: 0 15px;
}

.new-event .button {
    position: absolute;
    top: 17px;
    right: 10px;
}

.text-right {
    text-align: right;
}
