
<div [hidden]="step !== 'STEP_LANGUAGE_SELECT'"> 
  <app-device-language #stepLanguageSelect>
  </app-device-language>
</div>

<div [hidden]="step !== 'STEP_DEVICE_PERMISSIONS'"> 
  <app-device-permissions #stepDevicePermissions>
  </app-device-permissions>
</div>

<div [hidden]="step !== 'STEP_DEVICE_PASSWORD'"> 
  <app-device-password #stepDevicePassword>
  </app-device-password>
</div>

<div [hidden]="step !== 'STEP_DEVICE_REGISTRATION'">
  <app-device-registration  #stepDeviceRegistration>
  </app-device-registration>
</div>

<div [hidden]="step !== 'STEP_SYNC'">
  <app-device-sync #stepDeviceSync>
  </app-device-sync>
</div>


