.project
*.swp
*.tmp
.DS_store

www

# Cordova
platforms/
plugins/

# npm
node_modules/
bower_components/
npm-debug.log

# gulp build artifacts
tmp/js/*
tmp/min/*
lib.js
app.js
src/compiled/*
src/index-dev.html

# tangerine's packs
src/js/init/pack*.json
test/packs.json
src/packs.json


.idea
/lesson_plan_media/
