@if (rendered && formInfo && formInfo.templates && formInfo.templates.length > 0 && response && response.complete) {
  <div id="menu-container">
    <mwc-icon (click)="print()" class="print">print</mwc-icon>
    <mwc-icon [matMenuTriggerFor]="appMenu">chrome_reader_mode</mwc-icon>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="setTemplate('')">
        Form
      </button>
      @for (template of formTemplatesInContext; track template) {
        <button mat-menu-item (click)="setTemplate(template.id)">
          {{template.label}}
        </button>
      }
    </mat-menu>
  </div>
}
<div #container> </div>
