h2 {
    margin: 30px 0px 25px 20px;
}

.subject-header {
    background: var(--primary-color);
    color: var(--primary-text-color-overlay);
    font-size: 1em;
    padding: 15px 15px 45px 15px;
}

.subject-header iron-icon {
    width: 72px;
    height: 72px;
    position: relative;
    bottom: 5px; 
}

.subject-header h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
    color: var(--primary-text-color-overlay);
}

.subject-header div[secondary], .subject-header h1 {
    margin-left: 10px;
}

.subject-header .description {
    line-height: 2rem;

}

.subject-header .button {
    margin: 0px;
}

.button {
    background: var(--accent-color);
    color: #FFF;
}
.button i {
  color: #FFF;
}

#event-actions {
  float: right;
  margin-left: 15px;
}

#event-actions .button {
  margin-left: 15px;
  }

.new-form-container {
    position:relative;
}

.new-form-button {
    position: absolute;
    top: -64px;
    right: 23px;
}

.wrapper {
    margin: 0px;
}
paper-button {
    background: var(--accent-color);
    color: white;
}
paper-card {
    text-align: left;
}

app-event-form-list-item {
    display: flex;
}
app-event-form-list-item:focus {
    outline: none;
    background-color: rgba(0,0,0,0.12);
}
.form {
    background: #fff;
    border-top: 1px solid #ccc;
}

.form.new-form {
    border: 1px dashed #ccc;
}

.form.complete {
    background: #CCC;
}
select {
    font-family: inherit;
    background-color: transparent;
    width: 80%;
    padding: 4px 0;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #737373;
}

button[type="submit"] {
    background-color: #3c5b8d;
    border: 1px solid #3c5b8d;
    box-shadow: 0 2px 2px 0 rgba(60, 91, 141, 0.14), 0 3px 1px -2px rgba(60, 91, 141, 0.2), 0 1px 5px 0 rgba(60, 91, 141, 0.12);
    padding: 5px 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    border-radius: .25rem;
}
:host {
    position: relative;
}

.new-event form {
    display: flex;
    flex-direction: row;
}
.new-event .one-third {
    width: 33%;
    padding: 0 15px;
    display: inline-block;
}
.new-event .one-third:first-child {
    padding-left: 0;
}
.new-event .one-third:last-child {
    padding-right: 0;
}

.new-event {
    position: relative;
}
.new-event form {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}


.dropdown-container {
    position: relative;
    display: inline-block;
}
.dropdown-container:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid #737373;
    pointer-events: none;
}
.dropdown-container select,
.dropdown-container input[type="date"] {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #737373;
}
.dropdown-container select {
    appearance: none;
}
.dropdown-container option:disabled {
    color: rgba(0,0,0, 0.26);
}
.dropdown-container input[type="date"] {
    padding-bottom: 3px;
}
.dropdown-container input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.dropdown-container input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.new-event form {
    display: flex;
    flex-direction: row;
}
.new-event .one-third {
    width: 33%;
    padding: 0 15px;
    display: inline-block;
}
.new-event .one-third:first-child {
    padding-left: 0;
}
.new-event .one-third:last-child {
    padding-right: 0;
}

.new-event {
    position: relative;
}
.new-event form {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.new-event form > div, .new-event form > paper-button {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 33%;
    padding: 0 15px;
}

.new-event .button {
    position: absolute;
    top: 17px;
    right: 10px;
}

.text-right {
    text-align: right;
}


.new-event .button-left {
  position: absolute;
  top: 17px;
  right: 80px;
}
