<div *ngIf="loaded">
  <app-case-breadcrumb *ngIf="caseService && caseService.case && caseService.case._id" [caseId]="caseService.case._id" [caseEventId]="caseEvent.id"></app-case-breadcrumb>
  <app-case-notifications></app-case-notifications>
  <div class="wrapper">
    <div class="screen" *ngIf="hasNotificationEnforcingAttention"></div>
    <app-event-form-list-item
      *ngFor="let eventFormInfo of noRoleEventFormInfos"
      [case]="caseService.case"
      [caseDefinition]="caseService.caseDefinition"
      [caseEvent]="caseEvent"
      [caseEventDefinition]="caseEventDefinition"
      [eventForm]="eventFormInfo.eventForm"
      [eventFormDefinition]="eventFormInfo.eventFormDefinition"
      class="form {{eventFormInfo.eventFormDefinition.required ? 'required' : ''}}" 
      routerLink="/case/event/form/{{eventFormInfo.eventForm.caseId}}/{{eventFormInfo.eventForm.caseEventId}}/{{eventFormInfo.eventForm.id}}"
    >
    </app-event-form-list-item>
    <app-event-forms-for-participant
      [caseId]="caseService.case._id"
      [eventId]="caseEvent.id"
      [participantId]="participant.id"
      *ngFor="let participant of caseService.case.participants"
    >
    </app-event-forms-for-participant>
     
  </div>

</div>

<div *appHasAPermission="let i;group:groupId; permission:'can_restore_conflict_event'">
  <mat-accordion class="mat-accordian" multi>    
    <mat-expansion-panel *ngIf="conflictingEventForms.length > 0" [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conflicting Event Forms
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template>
        <div *ngFor="let conflict of conflictingEventForms" class="icon-list-item conflict new-event">
          <mwc-icon slot="item-icon">receipt</mwc-icon>
          <div>
            <div><strong>{{conflict.eventFormDefinitionId}}</strong></div>
            <div>
              <div secondary>
                Complete: {{conflict.complete}}
                <span *ngFor="let eventForm of conflict.eventForms">
                  ID: {{eventForm.formResponseId | slice:0:8}} Rev: {{conflict.conflictRevisionId| slice:0:8}}
                </span>
              </div>
              <div class="text-right">
                <paper-button (click)="onRestore(conflict)" [hidden]="hideRestore" class="button">{{'Restore'|translate}}</paper-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="archivedEventForms.length > 0" [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Archived Event Forms
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let archivedEventForm of archivedEventForms" class="icon-list-item archive new-event">
        <mwc-icon slot="item-icon">archive</mwc-icon>
        <div>
          <div><strong>{{archivedEventForm.eventFormDefinitionId}}</strong></div>
          <div>
            <div secondary>
              Complete: {{archivedEventForm.complete}}
            </div>
            <div class="text-right">
              <paper-button (click)="unarchiveEventForm(archivedEventForm)" [hidden]="hideRestore" class="button">
                <i class="material-icons mat-32 tangy-location-list-icon">unarchive</i>  {{'Unarchive'|translate}}
              </paper-button>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>