<?xml version='1.0' encoding='utf-8'?>
<widget xmlns:android="http://schemas.android.com/apk/res/android" id="org.rti.tangerine" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0" >
    <name>Tangerine</name>
    <description>
        Mobile data collection system.
    </description>
    <author email="ict-admin@rti.org" href="github.com/Tangerine-Community/Tangerine">
        Tangerine dream team
    </author>
    <content src="shell/index.html" />
    <platform name="android">
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon background="@color/background" density="ldpi" foreground="res/icon/android/ldpi-foreground.png" />
        <icon background="@color/background" density="mdpi" foreground="res/icon/android/mdpi-foreground.png" />
        <icon background="@color/background" density="hdpi" foreground="res/icon/android/hdpi-foreground.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/icon/android/xhdpi-foreground.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/icon/android/xxhdpi-foreground.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>
    <allow-navigation href="tangerinecentral.org" />
    <allow-intent href="*" />
    <access origin="*" />
    <chcp>
        <config-file url="CHCP_URL"/>
        <native-interface version="1" />
        <auto-download enabled="false" />
        <auto-install enabled="false" />
    </chcp>
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="32" />
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.SEND_SMS" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.CAMERA"/>
        <uses-permission android:name="android.permission.RECORD_AUDIO"/>
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="overwrite" target="/manifest/application">
        <application android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:largeHeap="true" android:requestLegacyExternalStorage="true" />
    </edit-config>
</widget>
