<br>
<br>
<mat-card>
    <mat-card-content>
        <p class="mat-headline">{{'Syncing Status Summary'|translate}}</p>
        <span *ngIf="isSyncSuccesful">{{'Sync Successful'|translate}}</span>
        <span *ngIf="!isSyncSuccesful&&isSyncSuccesful!==undefined">{{'Sync Unsuccessful. Please Retry'|translate}}</span>
        <br/>
        <br>
      <div *ngIf="syncProtocol != 'replication'">
        <p>{{'Number of responses uploaded'|translate}}: {{docsUploaded}}</p>
        <p>{{'Number of responses not uploaded'|translate}}: {{docsNotUploaded}}</p>
        <p>{{'Percentage uploaded'|translate}}: {{syncPercentageComplete|number:'1.2-2'}}%</p>
      </div>

    </mat-card-content>
    <mat-card-actions>
        <button color="primary" mat-raised-button (click)="pushAllRecords()">{{'SYNC DATA FOR ALL USERS'|translate}}</button>
    </mat-card-actions>
</mat-card>
<br>
<br>
<p class="mat-headline">{{'Syncing Status By User'|translate}}</p>
<mat-accordion>
    <mat-expansion-panel *ngFor="let syncData of allUsersSyncData">
        <mat-expansion-panel-header>
            {{'Username'|translate}}: {{syncData.username}}
        </mat-expansion-panel-header>

        <p>{{'Docs Uploaded'|translate}}: {{syncData.docsUploaded}}</p>
        <p>{{'Docs Not Uploaded'|translate}}: {{syncData.docsNotUploaded}}</p>
          <ul *ngIf="syncData.uploadQueueFormNames.length > 0">
            <li *ngFor="let form of syncData.uploadQueueFormNames">{{form.id}}</li>
          </ul>
        <p>{{'Percentage Complete'|translate}}: {{syncData.syncPercentageComplete|number:'1.2-2'}}%</p>

    </mat-expansion-panel>

</mat-accordion>
<br><br>
<div *ngIf="contentVersion">Content version: {{contentVersion}}</div>
