<md-toolbar color="primary">
  <button md-button (click)="sidenav.open()"><md-icon class="material-icons">menu</md-icon></button>

  <span>Tangerine Forms</span>
  <span class="tangerine-toolbar-spacer"></span>
  <i class="material-icons">account_box</i>
</md-toolbar>
<md-sidenav-container style="top: 64px !important">
  <md-sidenav #sidenav class="sidenav">
    <ul>
      <li>
        <a routerLink="create-nodes">Create Nodes</a>
      </li>
      <li>
        <a routerLink="create-location">Create Location</a>
      </li>
      <li>
        <a routerLink="create-group">Create Group</a>
      </li>
      <li>
        <a routerLink="tangerine-form-card-demo">Tangerine Form Card Demo</a>
      </li>
      <li>
        <a routerLink="tangerine-forms-demo">Tangerine Forms Demo</a>
      </li>
      <li>
        <a routerLink="tangerine-form-resume-demo">Tangerine Form Session Resumed Demo </a>
      </li>
      <li>
        <a routerLink="eftouch-demo">EFTouch Demo</a>
      </li>
      <li>
        <a routerLink="sync-records">Sync Records</a>
      </li>
      <li>
        <a routerLink="registerRemoteServer">Register on remote sync server</a>
      </li>
      <li>
        <a routerLink="loginRemoteServer">Log in on remote sync server</a>
      </li>
    </ul>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>