
<md-sidenav-container class="container">
  <md-sidenav #sidenav class="sidenav">
    <ul>
      <li>
        <a routerLink="binder-example">Binder Example</a>
      </li>
      <li>
        <a routerLink="create-nodes">Create Nodes</a>
      </li>
      <li>
        <a routerLink="create-location">Create Location</a>
      </li>
      <li>
        <a routerLink="tangerine-form-card-demo">Tangerine Form Card Demo</a>
      </li>
      <li>
        <a routerLink="tangerine-forms-demo">Tangerine Forms Demo</a>
      </li>
      <li>
        <a routerLink="tangerine-form-resume-demo">Tangerine Form Session Resumed Demo </a>
      </li>
    </ul>
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>



<md-toolbar>
  <h1>
    {{title}}
  </h1>
</md-toolbar>

<router-outlet></router-outlet>

</md-sidenav-container>
