@font-face {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    src: url('./andika.ttf') format('truetype');
}

@font-face {
    font-family: 'Rabiat';
    font-style: normal;
    font-weight: 400;
    src: url('./rabiat.ttf') format('truetype');
}

@font-face {
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    src: url('./padauk.ttf') format('truetype');
}

@font-face {
    font-family: 'Zwekabin';
    font-style: normal;
    font-weight: 400;
    src: url('./zwekabin.ttf') format('truetype');
}

@font-face {
    font-family: 'Gentium';
    font-style: normal;
    font-weight: 400;
    src: url('./gentium.ttf') format('truetype');
}

/*
 * Media queries for responsive design https://github.com/shichuan/mobile-html5-boilerplate/wiki/The-Style
 */


/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (min-width: 800px) {
  /* Styles */
}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.tooltip {
    display: none;
    position: relative;
    left: 0;
    top: 100%;
    z-index: 2;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    min-width: 200px;
}

.viewProject {
    position: relative;
}

