
<div class="header">
  <select (change)="onModeChange($event)">
    <option value="CASE_EVENT_SCHEDULE_LIST_MODE_WEEKLY">{{'Week View'|translate}}</option>
    <option value="CASE_EVENT_SCHEDULE_LIST_MODE_DAILY">{{'Day View'|translate}}</option>
  </select>
  <span [hidden]="useEthiopianCalendar">
    <date-carousel (on-week-change)="onWeekChange($event)" (on-day-pick)="onDayPick($event)"></date-carousel>
  </span>
  <span [hidden]="!useEthiopianCalendar">
    <date-carousel useEthiopianCalendar (on-week-change)="onWeekChange($event)" (on-day-pick)="onDayPick($event)"></date-carousel>
  </span>
</div>
<div class="event-info" *ngFor="let caseEventInfo of caseEventInfos" routerLink="{{caseEventInfo.openLink}}">
  <div *ngIf="caseEventInfo.dateNumber" class="new-date"> 
    <div class="new-date-container">
      <div class="new-date-number">
        {{caseEventInfo.dateNumber}}
      </div>
      <div class="new-date-label">
        {{caseEventInfo.dateLabel}}
      </div>
      <iron-icon icon="av:fiber-manual-record" class="new-date-dot"></iron-icon>  
    </div>
  </div>
  <div class="icon-list-item">
    <mwc-icon [innerHTML]="caseEventInfo.scheduleListItemIcon" slot="item-icon"></mwc-icon>
    <div>
      <div [innerHTML]="caseEventInfo.scheduleListItemPrimary|unsanitizeHtml"></div>
      <div [innerHTML]="caseEventInfo.scheduleListItemSecondary|unsanitizeHtml" secondary></div>
    </div>
  </div>
</div>