.idea
.git
data

node_modules
editor/node_modules
online-survey-app/node_modules
client/node_modules
client/app/node_modules
client/tangy-forms/node_modules
client/tangy-forms/bower_components
server/node_modules
scripts/generate-csv/node_modules
scripts/generate-uploads/node_modules
config.sh

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*