[submodule "editor"]
	path = editor
	url = https://github.com/Tangerine-Community/Tangerine-editor.git 
[submodule "brockman"]
	path = brockman
	url = https://github.com/Tangerine-Community/Tangerine-brockman.git 
[submodule "decompressor"]
	path = decompressor
	url = https://github.com/Tangerine-Community/Tangerine-decompressor.git 
[submodule "robbert"]
	path = robbert
	url = https://github.com/Tangerine-Community/Tangerine-robbert.git 
[submodule "tree"]
	path = tree
	url = https://github.com/Tangerine-Community/Tangerine-tree.git 
