tanerine-env-vars.sh
.idea

couchdb.stdout

couchdb.stderr
node_modules
editor/tmp

config.sh

editor/app/_docs/settings.json

brockman/Brockman.log

editor/app/_docs/configuration.json
bundle


robbert/npm-debug.log

editor/npm-debug.log

client/src/lesson_plan_media/

data/couchdb

.DS_Store

npm-debug.log

editor/src/compiled/*

.history/

client/lesson_plan_media/