tanerine-env-vars.sh
server/ui/src/compiled
.idea
.vscode
client/src/media_assets/
data
.data
config.env

couchdb.stdout

couchdb.stderr
node_modules
editor/tmp

config.sh

editor/app/_docs/settings.json

brockman/Brockman.log

editor/app/_docs/configuration.json
bundle


robbert/npm-debug.log

editor/npm-debug.log


client/src/lesson_plan_media


client/src/compiled/*
editor/src/compiled/*
client/src/index-dev.html
editor/src/index-dev.html

client-v3/node_modules
client-v3/.vscode

client/poly2test/bower_components/async/Makefile
