tanerine-env-vars.sh
.idea

client/src/media_assets/
data
.data
config.env

couchdb.stdout

couchdb.stderr
node_modules
editor/tmp

config.sh

editor/app/_docs/settings.json

brockman/Brockman.log

editor/app/_docs/configuration.json
bundle


robbert/npm-debug.log

editor/npm-debug.log


client/src/lesson_plan_media


client/src/compiled/*
editor/src/compiled/*
client/src/index-dev.html
editor/src/index-dev.html
.DS_Store
client/app/src/assets/grade-1/
client/app/src/assets/grade-2/
client/app/src/assets/grade-3/
client/app/src/assets/grade-4/
