env:
  global:
    - REPO="client-v3"
    - CI_HOME=`pwd`/$REPO
os:
  - linux
services:
  - docker
language: node_js
node_js:
  - "8.1.3"
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
cache:
  directories:
    - client-v3/node_modules
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - cd client-v3
  - npm install
  - ./node_modules/.bin/angular-pages build
script:
  - node_modules/.bin/ng test --watch false
