<?php

class Config
{

	public $HTTP;

	public $ADMIN_U;
	public $ADMIN_P;

	public $SERVERS;

	public $PORT;

	public $TRUNK;
	public $GROUP_PREFIX;
	public $BACKUP_PREFIX;

	public $D_DOC;

	public $APP_DOCS;

	public function __construct()
	{

		$this->HTTP = "http://";

		$this->ADMIN_U = "";
		$this->ADMIN_P = "";

		$this->SERVERS = array(
			// server_handle => host_address
			"local"  => "",
			"main"   => "",
			"backup" => ""
		);

		$this->SERVER_NICKNAME = "";

		$this->PORT = "5984";

		// DBs
		$this->TRUNK         = "tangerine";
		$this->GROUP_PREFIX  = "group-";
		$this->BACKUP_SUFFIX = "backup-";

		$this->D_DOC = "ojai";

		$this->APP_DOCS = "_design/ojai\nconfiguration\nsettings\ntemplates";

	} // END of __construct

} // END of Config

?>

