<mat-tab-group animationDuration="0" [selectedIndex]="selected" (selectedIndexChange)="setSelected($event)">
  <mat-tab *ngFor="let tab of locationsLevels; let index = index" [label]="tab">
      <app-manage-location-list-metadata></app-manage-location-list-metadata>
  </mat-tab>
  <mat-tab label="Add Level">
    <form class="tangy-full-width" novalidate #newLocationItemForm="ngForm">
      <mat-form-field class="tangy-full-width">
        <input name="locationLabel" [(ngModel)]="locationLabel" matInput placeholder="{{'Label'|translate}}"
          required>
      </mat-form-field>
      <mat-form-field class="tangy-full-width">
        <mat-select name="parentLevel" placeholder="Parent Level" [(ngModel)]="parentLevel">
          <mat-option *ngFor="let location of locationsLevels" [value]="location">
            {{location}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" [disabled]="newLocationItemForm.invalid" mat-raised-button color="warn" (click)="addLocationLevel()">{{'Submit'|translate}}</button>
    </form>
  </mat-tab>
</mat-tab-group>
