:host /deep/ .mat-tab-group {
  flex-direction: row;
}
:host /deep/ .mat-tab-header {
  border-bottom: none;
}
:host /deep/ .mat-tab-body {
  margin-left: 8px;
}
:host /deep/ .mat-tab-header-pagination {
  display: none !important;
}
:host /deep/ .mat-tab-labels {
  flex-direction: column;
}
:host /deep/ .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}
:host /deep/ .mat-tab-body-wrapper {
  flex: 1 1 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.tangy-full-width {
  width: 95%;
}
span.tangy-foreground-secondary {
  padding-top: 0.3rem;
}

a.faux-anchor {
  cursor: pointer;
}

* {
  word-wrap: break-word;
}
.gray-bottom-border {
  border-bottom: #cccccc 0.5px solid;
}
.text-indent-3 {
  text-indent: 3rem;
}
.header {
  margin: 15px;
}
.submit {
  margin-left: 15px;
  margin-bottom: 15px;
}
.import-div {
  margin: 15px;
  padding-bottom: 30px;
}

.mat-table {
  margin-bottom: 20px;
  margin-left: 10px;
}

.mat-column-levels {
  padding-right: 28px;
  text-align: center;
}

.mat-column-counts {
  padding-right: 28px;
  text-align: center;
}

.mat-raised-button {
  margin-left: 10px;
  width: 120px;
}