.tangy-full-width{
    width: 95%;
  }

  input {
    width: 80%;
  }

  #filter {
    height: 150px;
    margin-top: -30px;
  }

  .table {
    display: flex;
    overflow-y: scroll;
    overflow: scroll;
  }

  #filter tangy-select {
    margin-top:0px;
    height: 150px;
  }
