<div id="filter" *ngIf="!hideFilterBy">
  <tangy-select name="form" label="Filter by form" (change)="filterByForm($event)">
    <option value="*">*</option>
    <option *ngFor="let form of forms" value="{{form.id}}">{{form.id}}</option>
  </tangy-select>
</div>
<div *ngIf="ready">
  <app-dynamic-table [data]="responses" (rowClick)="onRowClick($event)"></app-dynamic-table>
</div>
<paper-button *ngIf="this.skip !== 0" (click)="previousPage()">< back</paper-button>
<paper-button (click)="nextPage()">next ></paper-button>