<mat-dialog-content>
  <div id="messages">
    @if (data.messages.length === 1) {
      <span>
        {{data.messages[0]}}
      </span>
    }
    @if (data.messages.length > 1) {
      <ul>
        @for (message of data.messages; track message) {
          <li>{{message}}</li>
        }
      </ul>
    }
  </div>
  <br>
    <div id="progress-bar-container">
      <paper-progress id="progress-bar" indeterminate></paper-progress>
    </div>
    <br>
      <div id="actions">
        <paper-button (click)="cancel()">Cancel</paper-button>
      </div>
    </mat-dialog-content>