<mat-toolbar *ngIf="!selectedClass" class="classDashboard">
  <span dir="rtl" class="class-dashboard-button-spacer-left">
    <button mat-stroked-button color="primary"
            [routerLink]="['/class-form/']" [queryParams]='classRegistrationParams'>
      {{'Add Class'|translate}}
    </button>
    <!--    <button mat-stroked-button color="primary" [routerLink]="['/class-config/']">-->
    <!--        <mat-icon aria-hidden="false" aria-label="Config">settings</mat-icon>-->
    <!--    </button>-->
  </span>
</mat-toolbar>
<mat-card *ngIf="selectedClass">
  <div class="selectedClassLabel">{{'Student Dashboard'|translate}}<br/>{{getClassTitle(selectedClass)}} : {{curriculum?.label}} : {{reportDate}}</div>
  <div>
    <table class="dashboard-table">
      <tr>
        <th class="student-name-column" colspan="2">{{'Stud.'|translate}}</th>
        <th colspan="2">{{'Attend.'|translate}}</th>
        <th colspan="2">{{'Behav.'|translate}}</th>
        <th>{{'Score.'|translate}}</th>
      </tr>
      <tr *ngFor="let student of attendanceReport?.attendanceList">
        <!--          <tr *ngFor="let student of attendanceReport?.attendanceList">-->
        <td (click)="$event ? selectStudentName(student) : null" class="student-name"> {{student["name"]}} </td>
        <td class="sms-button-column">
          <button mat-mini-fab color="accent" aria-label="SMS button with an sms icon" (click)="sendText(student)"
                  [ngStyle]="{transform: 'scale(0.6)'}">
            <mat-icon>sms</mat-icon>
          </button>
        </td>
        <td style="padding-right: 1em;">
          <mat-progress-bar
            *ngIf="student.presentPercentage"
            value="{{ student.presentPercentage }}"
            [appProgressBarColor]="(student.presentPercentage)"
            mode="determinate">
          </mat-progress-bar>
        </td>
        <td class="number-cell" *ngIf="student.presentPercentage || student.presentPercentage === 0">{{student.presentPercentage}}%</td>
        <td class="number-cell" *ngIf="!student.presentPercentage && student.presentPercentage != 0">{{'N/A'|translate}}</td>
        <td style="padding-left: 1em;padding-right: 1em;">
<!--          <mat-progress-bar-->
<!--            *ngIf="student.moodPercentage"-->
<!--            value="{{ student.moodPercentage }}"-->
<!--            [appProgressBarColor]="(student.moodPercentage)"-->
<!--            mode="determinate">-->
<!--          </mat-progress-bar>-->
          <div *ngIf="student['behavior'] && student['behavior']['internalPercentage']">
            <mat-progress-bar
              *ngIf="student['behavior'] && student['behavior']['internalPercentage']"
              value="{{ student['behavior']['internalPercentage'] }}"
              [appProgressBarColor]="(student['behavior']['internalPercentage'])"
              mode="determinate">
            </mat-progress-bar>
<!--            <ng-template [ngIf]="!student['behavior']['internalPercentage']"> {{'N/A'|translate}}</ng-template>-->
          </div>
        </td>
        <td class="number-cell"> 
          <ng-container *ngIf="student['behavior'] && (student['behavior']['internalPercentage'] || student['behavior']['internalPercentage'] === 0); else naTemplate">{{student['behavior']['internalPercentage']}}%
          </ng-container>
        <ng-template #naTemplate>
          <td class="number-cell"> {{'N/A'|translate}}</td>
        </ng-template>
<!--        <td class="number-cell" *ngIf="student['behavior']['internalPercentage']">{{'N/A'|translate}}</td>-->
<!--        <td class="number-cell" *ngIf="student.moodPercentage">{{student.moodPercentage}}%</td>-->
<!--        <td class="number-cell" *ngIf="!student['behavior']['externalPercentage']">{{'N/A'|translate}}</td>-->
        <td class="number-cell centered" *ngIf="student['score']">{{student['score']}}%</td>
      </tr>
    </table>
    <span><p class="mat-h3 left-padding"
             *ngIf="!attendanceReport || attendanceReport?.attendanceList.length === 0">{{'No Students currently registered.'|translate}}</p></span>
  </div>
</mat-card>