<div class="event-info" *ngFor="let eventInfo of eventsInfo" routerLink="{{eventInfo.openLink}}">
  <div *ngIf="eventInfo.newDateNumber" class="new-date"> 
    <div class="new-date-container">
      <div class="new-date-number">
        {{eventInfo.newDateNumber}}
      </div>
      <div class="new-date-label">
        {{eventInfo.newDateLabel}}
      </div>
      <iron-icon icon="av:fiber-manual-record" class="new-date-dot"></iron-icon>  
    </div>
  </div>
  <div class="icon-list-item">
    <mwc-icon [innerHTML]="eventInfo?.caseDefinition?.templateScheduleListItemIcon" slot="item-icon"></mwc-icon>
    <div>
      <div [innerHTML]="eventInfo?.caseDefinition?.templateScheduleListItemPrimary|unsanitizeHtml"></div>
      <div [innerHTML]="eventInfo?.caseDefinition?.templateScheduleListItemSecondary|unsanitizeHtml" secondary></div>
    </div>
  </div>
</div>
