.tangy-full-width{
    width: 95%;
  }
span.tangy-foreground-secondary{
    padding-top: 0.3rem;
}

mat-chip{
    text-transform: capitalize;
    cursor: pointer;
}
span.faux-anchor{
cursor: pointer;
}

.button-row button {
  margin: 8px;
}

.header {
  margin: 15px;
}
form {
  margin: 15px;
}

:host /deep/ .mat-tab-group {
  flex-direction: row;
}
:host /deep/ .mat-tab-header {
  border-bottom: none;
}
:host /deep/ .mat-tab-header-pagination {
  display: none !important;
}
:host /deep/ .mat-tab-labels {
  flex-direction: column;
}
:host /deep/ .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}
:host /deep/ .mat-tab-body-wrapper {
  flex: 1 1 auto;
}