<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<mat-card class="tangy-full-width" *ngIf="role">
    <mat-card-content>
        <form class="tangy-input-width" novalidate #addRoleForm="ngForm">
            <p>{{role.role}}</p>
            <p *ngIf="permissionsList" class="tangy-input-width">
                <mat-checkbox #f (change)="onSelectChange(permission, f.checked)"
                    [checked]="doesRoleHavePermission(permission)" *ngFor="let permission of permissionsList"
                    [name]="permission">
                    {{permission}}
                </mat-checkbox>
            </p>
            <p>
                <button [disabled]="addRoleForm.invalid" mat-raised-button color="warn"
                    (click)="submit()">{{'Update Role'|translate}}</button>
            </p>
        </form>
    </mat-card-content>
</mat-card>