#menu-container {
    position: relative;
    overflow: visible;
    text-align: right;
    margin: 15px 15px 0px;
    color: #666;
}	

.md-container-button {
    margin-right: 10px;
}

@media print {
    #menu-container {
        display: none;
    }
}

.archived-span {
    text-align: top;
}