<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div id="header">
  <tangy-location #tangyLocation></tangy-location>
  <div id="header-buttons">
    <paper-checkbox #showConflicts class="show-conflicts">show conflicts</paper-checkbox>
    <label id="issuesLabel">Issues:</label>
    <paper-radio-group aria-labelledby="issuesLabel" selected="Open">
      <paper-radio-button #showOpen class="show-open" name="Open">show open</paper-radio-button>
      <paper-radio-button #showMerged class="show-merged" name="Merged">show merged</paper-radio-button>
      <paper-radio-button #showClosedIssues class="show-closed-issues" name="Closed">show closed</paper-radio-button>
    </paper-radio-group>
    <paper-button id="reset-button" (click)="onResetClick()" [disabled]="loading === true">reset</paper-button>
    <paper-button id="search-button" (click)="onSearchClick()" [disabled]="loading === true">search</paper-button>
  </div>
</div>
@if (loading) {
  <div class="loading">Loading...</div>
}
@if (issues && issues.length === 0) {
  <div class="no-issues-found">No issues found.</div>
}
<div [hidden]="loading">
  @for (issue of issues; track issue) {
    <div class="icon-list-item search-result" routerLink="{{issue._id}}">
      <mwc-icon slot="item-icon">receipt</mwc-icon>
      <div>
        <div><strong>{{issue.label}}</strong> {{moment(issue.tangerineModifiedOn).format('YYYY-MM-DD hh:mm a')}}
      </div>
      <div secondary>
        Status: {{issue.status}}
        @if (issue.docType === 'case' && issue.events.length > 0 && issue.events[0].data.conflict) {
          <span>Merged: {{issue.events[0].data.conflict.merged}}</span>
        }
        @if (issue.formResponseId) {
          <span class="secondarySpacer">Response id: {{issue.formResponseId | slice:0:8}}</span>
        }
        @if (issue.caseId) {
          <span class="secondarySpacer">Case id: {{issue.caseId | slice:0:8}}</span>
        }
        Device: {{issue.tangerineModifiedByDeviceId | slice:0:8}}
      </div>
    </div>
  </div>
}
</div>
<div id="paginator" [hidden]="loading">
  <paper-icon-button icon="arrow-back" class="previous" (click)="onPreviousClick()" [disabled]="skip === 0 || loading === true"></paper-icon-button>
  <paper-icon-button icon="arrow-forward" class="next" (click)="onNextClick()" [disabled]="loading === true || (issues && issues.length !== limit)"></paper-icon-button>
</div>
