.gray {
  background-color: gray;
}

.green {
  background-color: green;
}

.blue {
  background-color: deepskyblue;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}
#last-n-report {
  margin-top: 1em;
}
mat-form-field {
  width: 35px;
}
#last-n-report {
  margin-top: 30px
}
