<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<form novalidate #addUserToGroupForm="ngForm">
  <div>
    <p>If you need to create a new user, click the "Users" link on the left navigation menu.</p>
    <p>Begin typing a username to choose an existing user:</p>
    <mat-form-field class="tangy-full-width">
      <input type="text" placeholder="Choose User" #search aria-label="Number" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='usernameSelected($event.option.value)'>
        @for (username of users; track username) {
          <mat-option [value]="username">
            {{ username }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <p>
    Role:
  </p>
  @if (allRoles) {
    <p class="tangy-input-width">
      @for (role of allRoles; track role) {
        <mat-checkbox #f (change)="onSelectChange(role.role, f.checked)"
          [name]="role.role">
          {{role.role}}
        </mat-checkbox>
      }
    </p>
  }
  @if (allRoles && allRoles.length<1) {
    <p class="tangy-input-width">{{'No Roles exist yet. '|translate}}</p>
  }
  <button [disabled]="!selectedUser" mat-raised-button color="warn" (click)="addUserToGroup();addUserToGroupForm.reset()">{{'Add User to Group'|translate}}</button>
</form>
