label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}
input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}
button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
.mdl-select .mdl-textfield__input {
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    padding-right: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
}
.mdl-popover {
    background: #fff;
    border: none;
    display: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute; }
.mdl-popover.is-visible, .mdl-popover.is-animating {
    display: block;
    z-index: 999; }
.mdl-popover.direction-up {
    bottom: 22px; }

