<div class="wrapper">
  <div class="secondary">
    <iron-icon icon="clear" routerLink="/case-home"></iron-icon>
    <span>&nbsp;&nbsp;{{'Select case type'|translate}}</span>
  </div>
 <div class="form-cards">
    <paper-icon-item *ngFor='let formInfo of formsInfo' class="form-item form new-form"
    (click)="onFormInfoSelect(formInfo.id)">
      <iron-icon icon="{{ formInfo.icon }}" slot="item-icon"></iron-icon> 
      <paper-item-body two-line>
          <div>
            <span [innerHTML]="formInfo.title|unsanitizeHtml"></span> 
          </div>
          <div secondary [innerHTML]="formInfo.description|unsanitizeHtml"></div>
        </paper-item-body>
    </paper-icon-item>
  </div>
  
  <div id="bottom-nav">
      <table>
        <tr>
          <td routerLink="/case-home"><iron-icon icon="home"></iron-icon></td>
        </tr>
        <tr>
          <td routerLink="/case-home">{{'Home'|translate}}</td>
        </tr>
      </table>
    </div>
</div>