<div class="wrapper">


  <div class="form-cards">

    <paper-icon-item  class="form new-form">
        <iron-icon icon="add" slot="item-icon"></iron-icon> 
      <paper-item-body two-line>
          <div>
              <span>{{'Create New Case'|translate}}</span> 
            </div>
            <div secondary>{{'Select the appropriate case type from the options listed below.'|translate}}</div>
      </paper-item-body>
    </paper-icon-item>

    <paper-icon-item *ngFor='let formInfo of formsInfo' class="form new-form">
      <iron-icon icon="{{ formInfo.icon }}" slot="item-icon"></iron-icon> 
      <paper-item-body two-line>
          <div>
            <span [innerHTML]="formInfo.title | unsanitizeHtml"></span> 
          </div>
          <div secondary [innerHTML]="formInfo.description | unsanitizeHtml"></div>
        </paper-item-body>
        <button type='submit' (click)="onFormInfoSelect(formInfo.id)">{{'Create'|translate}}</button>
    </paper-icon-item>
  </div>

  <div id="bottom-nav">
      <table>
        <tr>
   
          <td routerLink="/case-home"><iron-icon icon="home"></iron-icon></td>
     
        </tr>
        <tr>

          <td routerLink="/case-home">{{'Home'|translate}}</td>
      
        </tr>
      </table>
    </div>
</div>