<div class="login-app-content">
  <div class="group">
    <form role="form" (submit)="login()">
      <br>
      <h3 class="mat-title">Login to Tangerine</h3>
      <md-input-container>
        <input mdInput type="text" required [(ngModel)]="user.username" id="username" name="username">
        <md-placeholder>
          <i class="material-icons app-input-icon">face</i>Username
        </md-placeholder>
      </md-input-container>
      <br>
      <br>
      <md-input-container>
        <input mdInput type="password" required [(ngModel)]="user.password" id="password" name="password">
        <md-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>Password
        </md-placeholder>
      </md-input-container>
      <br>
      <br>
      <button md-raised-button color="accent" type="submit" name="action">LOGIN</button>
      <button md-button color="accent" routerLink="/register">REGISTER</button>
      <br>
      <br>
      <span id="err">
        <small>{{errorMessage}}</small>
      </span>
    </form>
  </div>
</div>