<select name="datefilter" id="datefiler" (change)="onSelectDate($event)">
  <option value="_">Filter</option>
  <option *ngFor="let date of filterValuesForDates" [value]="date.value">{{date.label}}</option>
</select>
<mat-list>
  <mat-list-item class="tangy-location-list">
    <span class="tangy-foreground-primary">Form Name</span>
    <span class="tangy-spacer"></span>
    <span class="tangy-foreground-primary">Start Date and Time</span>
  </mat-list-item>
  <mat-list-item class="tangy-location-list" *ngFor="let observation of observations">
    <a class="tangy-foreground-primary" [routerLink]="['/tangy-forms-player']" [queryParams]="{formIndex:observation.formIndex, 'responseId':observation._id}">
      <i class="material-icons mat-18 tangy-location-list-icon">open_in_new</i>
    </a>
    <span>{{observation.formTitle}}</span>
    <span class="tangy-spacer"></span>
    <span>{{observation.startDatetime| date:'MMM d, y, h:mm a'}}</span>
  </mat-list-item>
</mat-list>