<div class="tangy-content-top-margin">
  <mat-tab-group class="tangy-full-width" (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedIndex">
    <mat-tab label="{{'< Back to Group'|translate}}">
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{'Details'|translate}}
      </ng-template>
      <form-details-editor></form-details-editor>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{'Sections'|translate}}
      </ng-template>
        <div #container></div>
    </mat-tab>
    <mat-tab *ngIf="hasClassModule" >
      <ng-template mat-tab-label>
        {{'Feedback Editor'|translate}}
      </ng-template>
      <feedback-editor [groupName]="groupName" [formId]="formId"></feedback-editor>
    </mat-tab>
  </mat-tab-group>
</div>