<div id="container">
  @if (syncInProgress === true) {
    <div>
      <h2>{{'Syncing'|translate}}...</h2>
      <paper-progress indeterminate></paper-progress>
      @if (errorMessage) {
        <div class="errorMessage">{{errorMessage}}</div>
      }
      @if (pullError) {
        <div class="errorMessage">Pull Error: {{pullError}}</div>
      }
      @if (pushError) {
        <div class="errorMessage">Push Error: {{pushError}}</div>
      }
      <div>{{ syncMessage }}</div>
      <div class="status">{{otherMessage}}</div>
      <div class="status">{{indexingMessage}}</div>
    </div>
  }
  @if (syncIsComplete === true) {
    <div>
      <h2>{{'Sync has completed'|translate}}.</h2>
      @if (errorMessage) {
        <div class="errorMessage">{{errorMessage}}</div>
      }
      @if (pullError) {
        <div class="errorMessage">Pull Error: {{pullError}}</div>
      }
      @if (pushError) {
        <div class="errorMessage">Push Error: {{pushError}}</div>
      }
      <div><p>{{'Records in the local database'|translate}}: {{dbDocCount}}</p></div>
      <br>
        <paper-button (click)="onContinueClick()">{{'next'|translate}}</paper-button>
      </div>
    }
    <div class="debugging">
      <button mat-raised-button color="warn" (click)="toggle()">Debugging</button>
    </div>
    @if (show) {
      <div class="debugging">
        <div class="status">Checkpoints:{{checkpointMessage}}</div>
        <div class="status">Diffs: {{diffMessage}}</div>
        <div class="status">Start Next Batch: {{startNextBatchMessage}}</div>
        <div class="status">Pending Batch: {{pendingBatchMessage}}</div>
        <div class="status">Indexing View: {{indexing?.view}}</div>
        <div class="status">Indexing Doc Count: {{indexing?.countIndexedDocs}}</div>
        <div class="status">Indexing Sequence Number: {{indexing?.last_seq}}</div>
      </div>
    }
  </div>
