/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
:root {
    --document-background-color: #FAFAFA;
    --mdc-theme-primary: #3c5b8d !important;
    --mdc-theme-secondary: #f26f10 !important;
    --primary-color-dark: #3c5b8d;
    --primary-text-color: var(--light-theme-text-color);
    --primary-color: #3c5b8d;
    --accent-color: #f26f10;
    --accent-text-color: #FFF;
    --error-color: var(--paper-red-500);
    --disabled-color: #BBB;
  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--document-background-color) }
  