/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  --document-background-color: #f7f6f6;
  --mdc-theme-primary: #3c5b8d !important;
  --mdc-theme-secondary: #f26f10 !important;
  --primary-color-dark: #3c5b8d;
  --primary-color-lighter: #2d7dd2;
  --primary-text-color-overlay: #FFF;
  --primary-text-color: #555;
  --primary-color: #3c5b8d;
  --accent-color: var(--mdc-theme-secondary);
  --lighter-accent-color: #ff9522;
  --accent-text-color: #fff;
  --error-color: var(--paper-red-500);
  --warn-color: #993f0b;
  --warn-background-color: #f4e688;
  --success-color: var(--paper-green-500);
  --disabled-color: #bbb;
  --tertiary-color: #212121;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--document-background-color);
  color: var(--primary-text-color);
}

h1 {
  margin-left: 15px;
  color: var(--primary-text-color);
}

h2 {
  margin-left: 15px;
}

table.materialish {
  background: #FFF;
  border-collapse: collapse;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  width: 100%;
}
table.materialish tr.table-header {
  border-style: none;
  font-size: 12px;
  font-weight: 500;
}
table.materialish tr {
  border-width: 1px 0px 0px;
  border-style: solid;
}
table.materialish td {
  padding: 15px;
  color: #777;
}


.container {
  margin: 15px;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
fieldset {
  border: none;
}

@media print {
  .tangy-main-container {
      left : 0px;
      position:relative !important
    }
    mat-toolbar, mat-tab-header {
      display:none !important;
    }
}

/*
 * Hack to make sure the inside of the drawer does not change when it shrinks down.
 * It's important to have this here. Does not work inside of a component's CSS.
 */
.mat-drawer-inner-container {
  width: 500px !important;
}

paper-fab.action {
  z-index: 987654321;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.is-link {
  cursor: pointer;
}

mat-card {
  margin: 15px 15px 15px;
  background: white;
}
