<div class="tangy-content tangy-full-width">
  <div>
    <div #container></div>
    {{'Group'|translate}}: {{groupDetails?.label}}<br>
    {{'Group ID'}}: {{groupDetails?._id}}<br>
    {{'Form'|translate}}: {{meta?.form.title}}
  </div>
  <br><br><br>
  @for (section of meta?.items; track section) {
    <p style="page-break-after: always;">
      @for (input of section.inputs; track input; let index = $index) {
        <span style="font-size: 32px;">
          {{input.label}}
          @if (input.gridItem) {
            <span>{{input.name}}</span>
          }
          <br><br>
          <table >
            @if (input.gridItem) {
              @for (parts of input.gridParts; track parts) {
                <tr>
                  @for (part of parts; track part) {
                    <td>{{part.label +'  '}}</td>
                  }
                </tr>
              }
            }
          </table>
        </span>
      }
    </p>
  }
</div>