@for (notification of notifications; track notification) {
  <div class="icon-list-item" style="background: {{notification.color}};">
    @if (notification.link) {
      <mwc-icon [routerLink]="notification.link" [innerHTML]="notification.icon" slot="item-icon"></mwc-icon>
    }
    @if (!notification.link) {
      <mwc-icon [innerHTML]="notification.icon" slot="item-icon"></mwc-icon>
    }
    @if (notification.link) {
      <div [routerLink]="notification.link">
        <div>{{notification.label}}</div>
        <div style="white-space: normal" secondary>{{notification.description}}</div>
      </div>
    }
    @if (!notification.link) {
      <div>
        <div>{{notification.label}}</div>
        <div style="white-space: normal" secondary>{{notification.description}}</div>
      </div>
    }
  </div>
}