.home-icon{
  padding-top: 7px;
  padding-right: 7px;
}

mat-toolbar.mat-tangy-custom-toolbar {
  background: #212a3f;
}

#update-in-progress-inner {
  margin: 100px 50px 0px;
}

#update-in-progress {
  font-size: 2em;
  text-align: center;
  position: fixed;
  background: #FFF;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98765;

}

#update-in-progress img {
  width: 40%;
}