<div id="update-in-progress" *ngIf="updateIsRunning">
  <div id="update-in-progress-inner">
    <img src="../logo.svg">
    <br> {{'app.updateIsRunning'|translate}}
    <br>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<mat-toolbar color="primary" class="mat-typography mat-tangy-custom-toolbar">
  <span class="home-icon">
    <a class="tangy-no-text-decoration tangy-app-name" routerLink="/home">
      <app-tangy-svg-logo [tangyLogoStyle]="{'height':'45px'}"></app-tangy-svg-logo>
    </a>
  </span>

  <span>
    <a class="tangy-no-text-decoration tangy-app-name" routerLink="home">{{'app.applicationName'|translate}}</a>
  </span>
  <span class="tangy-spacer"></span>

  <button *ngIf="showNav" [matMenuTriggerFor]="appMenu" mat-button>
    <i class="material-icons">account_box</i>
  </button>
  <mat-menu #appMenu="matMenu">
    <button routerLink="manage-user-profile" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">create</mat-icon>
      <span>{{'app.manageProfile'|translate}}</span>
    </button>
    <!-- <button routerLink="/home" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">settings</mat-icon>
      <span>My Settings</span>
    </button> -->
    <button routerLink="/sync-records" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">autorenew</mat-icon>
      <span>{{'app.sync'|translate}}</span>
    </button>
    <button routerLink="/export-data" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">import_export</mat-icon>
      <span>{{'app.exportData'|translate}}</span>
    </button>
    <button mat-menu-item (click)="updateApp()" *ngIf="showUpdateAppLink">
      <mat-icon class="material-icons menu-tangy-location-list-icon">cloud_download</mat-icon>
      <span>{{'app.updateApp'|translate}}</span>
    </button>
    <button mat-menu-item (click)="updateApp()" *ngIf="!showUpdateAppLink">
      <mat-icon class="material-icons menu-tangy-location-list-icon">cloud_download</mat-icon>
      <span>{{'app.checkForUpdate'|translate}}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon class="material-icons menu-tangy-location-list-icon">exit_to_app</mat-icon>
      <span>{{'app.logout'|translate}}</span>
    </button>

  </mat-menu>

</mat-toolbar>
<div class="tangerine-app-content mat-typography">
  <router-outlet></router-outlet>
</div>