<md-toolbar color="primary" class="mat-typography">
  <button *ngIf="showNav" md-button (click)="sidenav.open()"><i class="material-icons">menu</i></button>

  <span><a class="tangy-no-text-decoration tangy-foreground-white" routerLink="home">Tangerine Forms</a></span>
  <span class="tangerine-toolbar-spacer"></span>

  <button *ngIf="showNav" [mdMenuTriggerFor]="appMenu" md-button><i class="material-icons">account_box</i></button>
  <md-menu #appMenu="mdMenu">
    <a routerLink="manage-user-profile" md-menu-item>
        <i class="material-icons md-18">create</i>
        <span>Manage Profile</span> 
      </a>
    <a routerLink="create-nodes" md-menu-item>
      <i class="material-icons md-18">settings</i>
      <span>My Settings</span>
    </a>
    <li md-menu-item (click)="logout()">
      <i class="material-icons md-18">exit_to_app</i>
      <span>Log Out</span>
    </li>
  </md-menu>

</md-toolbar>
<md-sidenav-container style="margin-top:64px">
  <md-sidenav #sidenav class="sidenav mat-typography">
    <md-nav-list>
      <md-list-item>
        <a class="tangy-no-text-decoration tangy-foreground-primary" routerLink="tangy-forms">Forms</a>
      </md-list-item>
      <br>
      <md-list-item>
        <a class="tangy-no-text-decoration tangy-foreground-primary" routerLink="sync-records">Sync Records</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <div class="tangerine-app-content mat-typography">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>