.hideme {
  display:none;
}
.subtest {
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
  display: block;
}
.subtest th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.subtest td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.subtest-report-div {
  padding-top:20px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}
