<app-case-breadcrumb></app-case-breadcrumb>

<div class="subject-header">
  <h1>
    <iron-icon icon="create-new-folder" slot="item-icon"></iron-icon> 
    Open a Case
  </h1>
  <div secondary>Choose which case type.</div>
</div>

<div class="wrapper">
  <div class="case-definition-cards">
    <paper-card class="case-definition-card" heading="{{caseDefinition.name}}" class="case-definition-card" *ngFor="let caseDefinition of caseDefinitions">
      <div class="card-content">
        {{caseDefinition.description}}
      </div>
      <div class="card-actions">
        <paper-button (click)="onCaseDefinitionSelect(caseDefinition.id)">open</paper-button>
      </div>
    </paper-card>
  </div>
</div>