<select name="datefilter" id="datefiler" (change)="onSelectDate($event)">
  <option value="_">{{'Filter'|translate}}</option>
  @for (date of filterValuesForDates; track date) {
    <option [value]="date.value">{{date.label}}</option>
  }
</select>
<br>
  <br>
    <table class="observations">
      <thead>
        <tr>
          <th>{{'Form Name'|translate}}</th>
          @for (col of columns; track col) {
            <th>
              {{col.name}}
            </th>
          }
          <th>{{'Start Date and Time'|translate}}</th>
          <th>{{'Complete?'|translate}}</th>
          <th>{{'Upload Date and Time'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        @for (observation of observations; track observation) {
          <tr>
            <td>
              <a class="tangy-foreground-primary" routerLink="/tangy-forms/resume/{{observation._id}}">
                <i class="material-icons mat-18 tangy-location-list-icon">open_in_new</i>
              </a>
              <span [innerHTML]="observation.formTitle|unsanitizeHtml"></span>
            </td>
            @for (col of observation.columns; track col) {
              <td>
                {{col.value|json}}
              </td>
            }
            <td>
              {{observation.startDatetime| date:'MMM d, y, h:mm a'}}
            </td>
            <td>
              {{observation.complete}}
            </td>
            <td>
              {{observation.uploadDatetime| date:'MMM d, y, h:mm a'}}
            </td>
          </tr>
        }
      </tbody>
    </table>