.primary {
    position: fixed;
    top: 0px;
    z-index: 99999;
    color: white;
    height: 34px;
    padding-top: 21px;
    margin-right: 80px;
    padding-left: 22px;
    background: #212a3f;
    font-size: 1.5em;
}

.primary iron-icon {
    color: #FFF !important;
}

.secondary {
    background: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 1.5em;
    padding: 15px 15px 15px 22px;
}

.secondary iron-icon {
    color: var(--primary-text-color) !important;
}