input[type=number] {
  width: auto;
  /*border-bottom: 2px solid blue;*/
}
.right-align {
  text-align: right;
}
.mat-card {
  padding: 5px 0px;
}

.left-padding {
  padding-left: 5px;
}
.header {
  padding-left: 1em;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0,0,0,.04);
}
