<mat-card>
  <div class="selectedClassLabel">{{'Scores'|translate}}<br/>
    {{getClassTitle(selectedClass)}} : {{curriculum?.label}}
    @if (ignoreCurriculumsForTracking) {
      <div>
        <mat-form-field>
          <mat-label>{{'Change Subject'|translate}}</mat-label>
          <mat-select [(value)]="curriculumId" placeholder="Select SubTask">
            <mat-option>{{'----'|translate}}</mat-option>
            @for (item of currArray; track item) {
              <mat-option value="{{item.id}}"
              (click)="changeCurriculum(item.name)">{{item.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }
  </div>
  <div class="tableHintLabel">
    <mat-label>{{'Select a unit to enter scoring'|translate}}</mat-label>
  </div>  <div>
  <mat-tab-group>
    @for (unit of units; track unit; let unitIndex = $index) {
      <mat-tab label="{{unit}}">
        <table class="dashboard-table">
          <tr>
            <th>{{'Student'|translate}}</th>
            <th>{{'Score'|translate}}</th>
          </tr>
          @for (student of scoreList; track student) {
            <tr>
              <td (click)="$event ? selectStudentName(student) : null" class="student-name"> {{student["student_name"]}} {{student["student_surname"]}} </td>
              <td style="text-align: center">
                <mat-form-field class="scoreInput">
                  <input id="scoreCtrl_{{unitIndex}}" name="scoreCtrl" matInput type="number" min="0" max="100" [(ngModel)]="student['score_'+unitIndex]"
                    (change)="updateScore(student, unitIndex.toString())"/>
                </mat-form-field>
              </td>
            </tr>
          }
        </table>
      </mat-tab>
    }
  </mat-tab-group>
  <span>@if (scoreList?.length === 0) {
    <p class="mat-h3">{{'No Students currently registered.'|translate}}</p>
  }</span>
</div>
</mat-card>
