<mat-card>
  <div class="selectedClassLabel">{{'Scores'|translate}}<br/>
        {{getClassTitle(selectedClass)}} : {{curriculum?.label}}
    <div *ngIf="ignoreCurriculumsForTracking">
      <mat-form-field>
        <mat-label>{{'Change Subject'|translate}}</mat-label>
        <mat-select [(value)]="curriculumId" placeholder="Select SubTask">
          <mat-option>{{'----'|translate}}</mat-option>
          <mat-option *ngFor="let item of currArray;" value="{{item.id}}"
                      (click)="changeCurriculum(item.name)">{{item.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="tableHintLabel">
    <mat-label>{{'Select a unit to enter scoring'|translate}}</mat-label>
  </div>  <div>
    <mat-tab-group>
      <mat-tab *ngFor="let unit of units; index as unitIndex" label="{{unit}}">
        <table class="dashboard-table">
          <tr>
            <th>{{'Student'|translate}}</th>
            <th>{{'Score'|translate}}</th>
          </tr>
          <tr *ngFor="let student of scoreList">
            <td (click)="$event ? selectStudentName(student) : null" class="student-name"> {{student["student_name"]}} {{student["student_surname"]}} </td>
            <td style="text-align: center">
              <mat-form-field class="scoreInput">
                <input id="scoreCtrl_{{unitIndex}}" name="scoreCtrl" matInput type="number" min="0" max="100" [(ngModel)]="student['score_'+unitIndex]"
                                                  (change)="updateScore(student, unitIndex.toString())"/>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
    <span><p class="mat-h3" *ngIf="scoreList?.length === 0">{{'No Students currently registered.'|translate}}</p></span>
  </div>
</mat-card>
