@media print {
  :host {
    display: none;
  }
}


.primary {
    /* absolute on server, fixed on client */
    color: var(--primary-text-color-overlay);
    height: 34px;
    padding-top: 10px;
    padding-left: 22px;
    background: var(--primary-color-dark);
    font-size: 1.5em;
}

.primary iron-icon {
    color: var(--primary-text-color-overlay) !important;
}

.secondary {
    background: var(--primary-color);
    color: var(--primary-text-color-overlay);
    font-size: 1.5em;
    padding: 15px 15px 15px 22px;
}

.secondary iron-icon {
    color: var(--primary-text-color-overlay) !important;
}

.back-to-cases {
  cursor: pointer;
}

#tangy-spacer{
  flex: 1 1 auto;
  display: flex;
}

.case-action-container {
  float: right;
}

.case-action-menu {
  margin-right: 8px;
  align-items: center;
}

.case-archived-text {
  margin-right: 8px;
  color: var(--primary-text-color-overlay);
  height: 34px;
  background: var(--primary-color-dark);
  font-size: 0.8em;
}