.year {
  height: 130px;
}
.month {
  height: 100px;
}
.button {
  margin-top: 3rem;
  background: var(--mdc-theme-secondary);
  color: var(--accent-text-color);
}
.button-disabled {

  margin-top: 3rem;
  color: white;
}
.form {
  padding-bottom: 60px;
  padding-top: 0px;
}

#container {
    margin: 15px;
  }
  
.mat-form-field {
  height: 20px;
  padding-right: 1em;
}

.mat-select {
  height: 20px;
}
.form-list{
  margin-top: 3rem;
}