.year {
  height: 130px;
}
.month {
  height: 100px;
}
button {
  margin-top: 3rem;
  background: var(--mdc-theme-secondary);
  color: var(--accent-text-color);
}
.form {
  padding-bottom: 60px;
  padding-top: 0px;
}

#container {
    margin: 15px;
  }
  
.mat-form-field {
  height: 20px;
  padding-right: 1em;
}

.mat-select {
  height: 20px;
}
.form-list{
  margin-top: 3rem;
}

.csv-template-selection {
  position: relative;
  top: -7px;
}

h2.table-header {
  margin: 25px 0px 0px;
}

table {
  /* margin-top: 5px !important; */
}