.year {
  height: 130px;
}
.month {
  height: 100px;
}
button {
  margin-top: 3rem;
  background: var(--mdc-theme-secondary);
  color: var(--accent-text-color);
}
.form {
  padding-bottom: 60px;
  padding-top: 0px;
}

.container {
    margin: 15px;
  }
  
.mat-mdc-form-field {
  padding-right: 1em;
}

.mat-mdc-select {
  height: 20px;
}
.form-list{
  margin-top: 2rem;
}
#description, #year-and-month {
  margin: 20px;
}
#description, #description input, #description mat-form-field {
  width: 80%;
}

#description mat-form-field {
}

.csv-template-selection {
  position: relative;
  top: -7px;
}

h2.table-header {
  margin: 25px 0px 0px;
}

table {
  /* margin-top: 5px !important; */
}

.configure-instructions {
  margin: 1rem;
}

#submit-container {
  position: sticky;
  bottom: 0px;
  right: 0px;
  background: #CCC;
  text-align: right;
  padding: 0px 30px 10px;
  border-top: solid 1px;
}

#submit-container button {
  position: relative;
  bottom: 15px;
  right: 60px;
}

.select-instructions {
  margin-top: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.new-csv-header {
  background-color: lightgray;
}

h2 {
  padding-left: 1rem;
}
