{
  "ignore": "node_modules",
  "presets": [
    [
      "env",
      {
        "modules": false,
        "debug": true,
        "targets": {
          "chrome": 49
        },
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": [
//    ["transform-async-to-module-method", {
//      "module": "../../node_modules/bluebird/js/browser/bluebird.js",
////      "module": "../../node_modules/bluebird/js/release/bluebird.js",
////      "module": "bluebird",
//      "method": "coroutine"
//    }]
//    ["check-es2015-constants", {"chrome":"48"}],
//    ["transform-es2015-block-scoping", {"chrome":"48"}],
//    ["transform-es2015-destructuring", {"chrome":"48"}],
//    ["transform-es2015-for-of", {"chrome":"48"}],
//    ["transform-es2015-function-name", {"chrome":"48"}],
//    ["transform-es2015-parameters", {"chrome":"48"}],
//    ["transform-es2015-sticky-regex", {"chrome":"48"}],
//    ["transform-es2015-unicode-regex", {"chrome":"48"}],
//    ["babel-plugin-transform-es2015-modules-umd"]
  ]
}
