@if (status==code.STATUS_WAIT) {
  <p>
    {{'Starting your APK release...'|translate}}
  </p>
}

@if (status==code.STATUS_BUILDING) {
  <p>
    {{'Your APK is building...'|translate}}
  </p>
}

@if (status==code.STATUS_ERROR) {
  <p>
    {{'Could Not Generate APK'|translate}}
  </p>
}

@if (step) {
  <p>
    {{step}}
  </p>
}

@if (status==code.STATUS_DONE) {
  <p>
    {{'Download your APK'|translate}}
    <a target='_new' href="/releases/{{releaseType}}/apks/{{filepath}}">{{'here'|translate}}</a>.
  </p>
}
