:host {
  position: relative;
  top: -64px;
}

#header {
  padding-top: 15px;
  background: var(--primary-color-dark);
}

#logo {
  max-width: 60%;
  margin: 15px auto 0px;
  text-align: center;
  display: block;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-right: 15px;
  float: right;
}
