<md-grid-list cols="1" class="tangy-content">

  <td-steps [mode]="'horizontal'">
    <td-step #step1 label="Main Properties" sublabel="Key properties for the new node." [active]="true" [state]="stateStep1">
      <ng-template td-step-label><span>Main Properties</span></ng-template>
      Enter the main properties for the node.
      <p>
        <md-input-container class="tangy-full">
          <input mdInput placeholder="Node Name" [(ngModel)]="form.nodeName">
        </md-input-container>
        <md-select placeholder="Parent Node" [(ngModel)]="form.selectedParentNode" name="food" required>
          <md-option *ngFor="let parent of parentNodes" [value]="parent.uuid">
            {{parent.label}}
          </md-option>
        </md-select>
      </p>
    </td-step>

    <td-step #step2 label="Metadata for the node" sublabel=" Create the metadata for the node" [state]="stateStep2">
      <p>
        <md-input-container class="tangy-full">
          <input mdInput placeholder="Metadata Label" [(ngModel)]="form.metadata.metadata">
        </md-input-container>
        <md-select placeholder="Metadata Type" [(ngModel)]="form.metadata.metadataType" name="food" required>
          <md-option *ngFor="let type of controlTypes" [value]="type">
            {{type}}
          </md-option>
        </md-select>

      </p>
      <md-slide-toggle [(ngModel)]="form.metadata.metadataRequired">Metadata Required in Form?</md-slide-toggle>

      <ng-template td-step-actions>
        <button md-raised-button color="primary" (click)="createMetadata()" class="text-upper">New Metadata</button>
        <button md-button (click)="createMetadata()" class="text-upper">Cancel</button>
      </ng-template>
    </td-step>

    <td-step #step3 label="Create Node" sublabel="Create Node with the necessary metadata." [state]="stateStep3" [disabled]="disabled">
      Mark this step complete and Create the Node
      <ng-template td-step-summary>
        Summary Page
      </ng-template>
      <ng-template td-step-actions>
        <button md-raised-button color="primary" (click)="createNode()" class="text-upper">Create Node</button>
        <button md-button (click)="step3.active = false" class="text-upper">Cancel</button>
      </ng-template>
    </td-step>
  </td-steps>

</md-grid-list>