<md-grid-list cols="4" *ngIf="isViewOnFirstPage" rowHeight="5rem">
  <md-grid-tile colspan="4" rowspan="1">
    <md-input-container class="tangy-full">
      <input mdInput placeholder="Node Name" [(ngModel)]="form.nodeName">
    </md-input-container>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <md-select placeholder="Parent Node" [(ngModel)]="form.selectedParentNode" name="food" required>
      <md-option *ngFor="let parent of parentNodes" [value]="parent.uuid">
        {{parent.label}}
      </md-option>
    </md-select>
  </md-grid-tile>
  <md-grid-tile colspan="4" rowspan="1">
    <button md-raised-button color="primary" (click)=switchPages() [disabled]="!form.nodeName">Next Page</button>
  </md-grid-tile>
</md-grid-list>

<md-grid-list cols="4" *ngIf="!isViewOnFirstPage" rowHeight="5rem">
  <md-grid-tile rowspan="1" colspan="2">
    <md-input-container class="tangy-full">
      <input mdInput placeholder="Metadata Label" [(ngModel)]="form.metadata.metadata">
    </md-input-container>
    <md-select placeholder="Metadata Type" [(ngModel)]="form.metadata.metadataType" name="food" required>
      <md-option *ngFor="let type of controlTypes" [value]="type">
        {{type}}
      </md-option>
    </md-select>
    <md-slide-toggle [(ngModel)]="form.metadata.metadataRequired">Metadata Required in Form?</md-slide-toggle>
  </md-grid-tile>
  <md-grid-tile rowspan="2" colspan="2">
    <table>
      <th> Metadata</th>
      <th> Type</th>
      <th> Required</th>
      <th> Action</th>
      <tr *ngFor="let data of nodeElements.metadata; let i=index">
        <td>{{data.label}}</td>
        <td>{{data.metadataType}}</td>
        <td>{{data.metadataRequired}}</td>
        <td>
          <button (click)="editMetaData(data,i)">Edit</button>
          <button (click)="deleteMetaData(i)">Delete</button>
        </td>
      </tr>
    </table>
  </md-grid-tile>

  <md-grid-tile rowspan="1" colspan="2">
    <button *ngIf="!isEditingMetaData" md-raised-button color="primary" (click)="createMetadata()" class="text-upper">Create Metadata</button>
    <button *ngIf="isEditingMetaData" md-raised-button color="primary" (click)="saveEditedMetaData()" class="text-upper">Save Metadata</button>
  </md-grid-tile>

  <md-grid-tile rowspan="1" colspan="2">
    <button md-raised-button color="primary" (click)=switchPages()>Previous Page</button>
    <button md-raised-button color="primary" style="margin-left:3rem" (click)="createNode()" class="text-upper">Submit Form</button>
  </md-grid-tile>
  <md-grid-tile colspan="2"></md-grid-tile>
</md-grid-list>