<mat-table #table [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Form Name Column -->
  <ng-container cdkColumnDef="formTitle">
    <mat-header-cell *cdkHeaderCellDef> Form </mat-header-cell>
    <mat-cell *cdkCellDef="let formResponse">
      <app-tangy-tooltip [tangyToolTipText]="formResponse.formId" truncateLength="10"></app-tangy-tooltip>
    </mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container cdkColumnDef="startDatetime">
    <mat-header-cell *cdkHeaderCellDef> Date Started</mat-header-cell>
    <mat-cell *cdkCellDef="let formResponse"> {{formResponse.startDatetime| date:'MMM d, y, h:mm a'}} </mat-cell>
  </ng-container>

  <!-- Class Column -->
  <ng-container cdkColumnDef="class">
    <mat-header-cell *cdkHeaderCellDef> Class </mat-header-cell>
    <mat-cell style="text-align:center" *cdkCellDef="let formResponse"> {{formResponse.class}} </mat-cell>
  </ng-container>

  <!-- Subject Column -->
  <ng-container cdkColumnDef="subject">
    <mat-header-cell *cdkHeaderCellDef> Subject </mat-header-cell>
    <mat-cell *cdkCellDef="let formResponse"> {{formResponse.subject}} </mat-cell>
  </ng-container>

  <!-- Stream Column -->
  <ng-container cdkColumnDef="stream">
    <mat-header-cell *cdkHeaderCellDef> Stream </mat-header-cell>
    <mat-cell *cdkCellDef="let formResponse"> {{formResponse.stream}} </mat-cell>
  </ng-container>

  <!-- Stream Column -->
  <ng-container cdkColumnDef="action">
    <mat-header-cell *cdkHeaderCellDef> </mat-header-cell>
    <mat-cell *cdkCellDef="let formResponse">
      <i class="material-icons md-24">feedback</i>
      <a [routerLink]="['/tangy-forms-player/']" [queryParams]="{formIndex:formResponse.formIndex, 'responseId':formResponse._id}">
        <i class="material-icons md-24 ">speaker_notes</i>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns "></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns; "></mat-row>
</mat-table>