<mat-card>
  <div class="selectedClassLabel">{{'Attendance'|translate}}<br/>{{getClassTitle(selectedClass)}}
    <ng-container *ngIf="!ignoreCurriculumsForTracking">: {{curriculum?.label}} </ng-container>: {{reportLocaltime}}
  </div>
  <div id="period-dropdown" class="selectedClassLabel">
    <ng-container *ngIf="periodsLength > 0">
      <mat-form-field>
        <mat-label>{{'Period'|translate}}</mat-label>
        <mat-select [(value)]="selectedPeriod" (selectionChange)="onPeriodChange($event)">
          <mat-option *ngFor="let period of periods" [value]="period">{{period}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
  <div class="tableHintLabel">
    <mat-label>{{'Tap on the green checkmark to mark a student as absent'|translate}}</mat-label>
  </div>
  <div>
    <table class="dashboard-table">
      <tr>
        <th>{{'Student'|translate}}</th>
        <th>{{'Attendance'|translate}}</th>
      </tr>
      <tr *ngFor="let element of attendanceList">
        <td (click)="$event ? selectStudentName(element) : null" class="student-name"> {{element["student_name"]}} {{element["student_surname"]}} </td>
        <td style="padding-right: 1em;">
          <mat-chip-list class="absent">
            <ng-container *ngIf="!showLateAttendanceOption; then absentOnly; else withLate"></ng-container>
            <ng-template #absentOnly>
                <ng-container *ngIf="element['absent']; then absent; else present"></ng-container>
            </ng-template>
            <ng-template #withLate>
                <ng-container *ngIf="element['absent']; then absent; else second"></ng-container>
                <ng-template #second>
                  <ng-container *ngIf="element['late']; then late; else present"></ng-container>
                </ng-template>
            </ng-template>
            <ng-template #absent>
              <mat-chip color="red" selected class="red" (click)="toggleAttendance('absent', element)">
                <mat-icon>close</mat-icon>
              </mat-chip>
            </ng-template>
            <ng-template #late>
              <mat-chip color="orange" class="orange" (click)="toggleAttendance('late', element)">
                <mat-icon>remove</mat-icon>
              </mat-chip>
            </ng-template>
            <ng-template #present>
              <mat-chip color="primary" class="green" (click)="toggleAttendance('present', element)">
                <mat-icon>check</mat-icon>
              </mat-chip>
            </ng-template>
          </mat-chip-list>
        </td>
    </table>
    <span><p class="mat-h3"
             *ngIf="attendanceList?.length === 0">{{'No Students currently registered.'|translate}}</p></span>
  </div>
</mat-card>