

.primary {
  position: fixed;
  top: 0px;
  z-index: 99999;
  color: var(--primary-text-color-overlay);
  height: 34px;
  padding-top: 21px;
  margin-right: 80px;
  padding-left: 22px;
  background: var(--primary-color-dark);
  font-size: 1.5em;
  min-width: 200px;
}

a.primary:active, a.primary:link, a.primary:visited {
  text-decoration: none;

}

.primary mwc-icon {
  position: relative;
  top: 5px;
}

.primary iron-icon {
  color: var(--primary-text-color-overlay) !important;
}

.secondary {
  background: var(--primary-color);
  color: var(--primary-text-color-overlay);
  font-size: 1.5em;
  padding: 15px 15px 15px 22px;
}

.secondary iron-icon {
  color: var(--primary-text-color-overlay) !important;
}

.notification {
color: white;
position: absolute;
top: 16px;
right: 58px;
z-index:987654323456765432;
}

.notification::before{
content: '';
display: inline-block;
position: relative;
left: 23px;
width: 10px;
height: 10px;
border-radius: 5px;
background-color: red;
top: -9px;
}