/*.container {*/
/*  margin: 1em auto;*/
/*}*/

.status {
  margin-left: 0px;
}

/*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
mat-card {
  margin-top: 1em;
}

/*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
.mat-card-header-text {
  margin: 1em 0;
  font-size: 24px;
  font-weight: 400;
}

/*button {*/
/*  margin-left: 1em;*/
/*}*/
.mat-mdc-progress-bar {
  margin-top: 1em;
  width: 50%
}

div {
  margin: 1em;
}

.debugging {
  margin: 0em;
}

.errorMessage {
  margin-left: 0px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox {
  margin-right: 2em;
}
mat-expansion-panel {
  width: 600px
}
/*TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
mat-radio-button {
  padding-left: 1em;
}
.mat-mdc-raised-button {
  margin-left: 1em;
}
