<div>
  <h2>{{'Sync to server'|translate}}</h2>
  <p>{{'Press the Start button below to transfer records to the server.'|translate}}</p>

  <div class="container" *ngIf="status === 'STATUS_INITIAL'">
    <div>
      <button mat-raised-button color="primary" (click)="sync()">{{'Start'|translate}}</button>
    </div>
    <mat-progress-bar value="0"></mat-progress-bar>
    <div class="status">{{'Status'|translate}}: {{'Ready'|translate}}</div>
  </div>

  <div class="container" *ngIf="status === 'STATUS_IN_PROGRESS'">
    <div>
      <button mat-raised-button color="primary" disabled>{{'Start'|translate}}</button>
    </div>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <div class="status">{{'Status'|translate}}: {{'In progress'|translate}}</div>
    <div class="status">{{syncMessage}}</div>
    <div class="status">{{otherMessage}}</div>
    <div class="status">{{direction}}</div>
  </div>

  <div class="container" *ngIf="status === 'STATUS_COMPLETED'">
    <div>
      <button mat-raised-button color="primary" (click)="sync()">{{'Start'|translate}}</button>
    </div>
    <mat-progress-bar mode="buffer" value="100"></mat-progress-bar>
    <div class="status">{{'Status'|translate}}: {{'Complete'|translate}}</div>
    <div class="status" *ngIf="replicationStatus">
      <ul>
        <li>{{'Pulled from the server'|translate}}: {{replicationStatus.pulled}}</li>
        <li>{{'Pushed to the server'|translate}}: {{replicationStatus.pushed}}</li>
        <li>{{'Records in the database'|translate}}: {{dbDocCount}}</li>
      </ul>
    </div>
  </div>

  <div class="container" *ngIf="status === 'STATUS_ERROR'">
    <div>
      <button mat-raised-button color="primary" (click)="sync()">{{'Start'|translate}}</button>
    </div>
    <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
    <div class="status">{{'Status'|translate}}: {{'Error'|translate}}</div>
    <div class="status">{{syncMessage}}</div>
    <div class="status">{{direction}}</div>
    <div><p>{{'Records in the local database'|translate}}: {{dbDocCount}}</p></div>
  </div>

  <div class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="errorMessage" *ngIf="pullError">Pull Error: {{pullError}}</div>
  <div class="errorMessage" *ngIf="pushError">Push Error: {{pushError}}</div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Options
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{'Please note that these options should not be done routinely. Choose one of the following options and then ' +
    'click the "Start" button above. To cancel your selection, click it again.' | translate}}</p>
    
    <h3>Comparison Sync</h3>
    
    <p>{{'If you wish to compare all local records to the server, press the "Comparison" checkbox and then "Start". Any local documents not on the device will be synced to the server. Please note that the comparison takes much longer than the typical sync.'|translate}}</p>
    <div>
      <mat-radio-group [name]="compareDirection" aria-label="Select an option" aria-labelledby="compare-radio-group-label" [disabled]="comparisonDisabled">
        <label id="compare-radio-group-label">Sync Direction:</label>
        <mat-radio-button #pushButtonC value="push" (click)="checkState(pushButtonC, 'push', 'compare')">Push</mat-radio-button>
        <mat-radio-button #pullButtonC value="pull" (click)="checkState(pullButtonC, 'pull', 'compare')">Pull</mat-radio-button>
      </mat-radio-group>
      <br/>
    </div>
    
    <h3>Rewind Sync</h3>
    
    <p>{{'Rewind sync will reset the sync "placeholder" and start from the beginning, checking every document. It is more thorough than Comparison Sync and takes much longer than the typical sync.'|translate}}</p>
    <div>
      <mat-radio-group [name]="rewindDirection" aria-label="Select an option" aria-labelledby="sync-radio-group-label" [disabled]="rewindDisabled">
        <label id="sync-radio-group-label">Sync Direction:</label>
        <mat-radio-button #pullButtonS value="pull" (click)="checkState(pullButtonS, 'pull', 'sync')" [checked]="pushSyncButton">Push</mat-radio-button>
        <mat-radio-button #pushButtonS value="push" (click)="checkState(pushButtonS, 'push', 'sync')" [checked]="pullSyncButton">Pull</mat-radio-button>
      </mat-radio-group>
    </div>
    
  </mat-expansion-panel>
  
</div>





