/*.container {*/
/*  margin: 1em auto;*/
/*}*/

.status {
  margin-left: 0px;
}

mat-card {
  margin-top: 1em;
}

.mat-card-header-text {
  margin: 1em 0;
  font-size: 24px;
  font-weight: 400;
}

/*button {*/
/*  margin-left: 1em;*/
/*}*/
.mat-progress-bar {
  margin-top: 1.5em;
  width: 60%
}

div {
  margin: 1em;
}

.debugging {
  margin: 0em;
}

.errorMessage {
  margin-left: 0px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
mat-checkbox {
  margin-right: 2em;
}
