<div class="container">
  <h1>About Tangerine</h1>
  <p> 
    Tangerine is open source software designed for Android mobile devices. Its primary use is to enable capture of students’ responses in oral reading and mathematics skills assessments as well as interview responses and field observations.
  </p>
  <p> 
    Using Tangerine improves data quality and the efficiency of data collection and analysis. The software simplifies the preparation and implementation of field work, reduces student assessment times, reduces measurement and data entry errors, and eliminates manual data entry from paper forms. Tangerine is optimized for offline data collection in low-bandwidth environments and features powerful sync and data backup options.
  </p>
  <p> 
    Tangerine was developed by <a href="https://rti.org" target="_blank">RTI International</a>starting in 2011 with RTI's own internal research funds. RTI redesigned Tangerine and developed a new codebase using latest technologies in 2017/2018 with funding support from Google.org. Tangerine is available to the public through an open-source GNU General Public License. You can host it on your own server and modify its code as needed. The only requirement is that if you share your modified version publicly, you also need to share the modified source code with the larger community. 
  </p>
  <p> 
    Since 2011, Tangerine has been used by over 60 organization, in over 70 countries and 100 languages. While originally developed for education, Tangerine is increasingly used also for interviews and field observations in the health, governance, and agricultural sectors.
  </p>
  <p> 
    For more information on Tangerine see <a href="http://www.tangerinecentral.org" target="_blank">http://www.tangerinecentral.org</a>.
  </p>
  <p> 
    For questions about Tangerine, contact <a href="mailto:support@tangerinehelp.zendesk.com">support@tangerinehelp.zendesk.com</a>.  
  </p>
</div>
<paper-card heading="Device Info" class="info" *ngIf="ready">
  <div class="card-content">
    <div class="info-item"><label>Server URL:</label> {{info.serverUrl}}</div>
    <div class="info-item"><label>Group Name:</label> {{info.groupName}}</div>
    <div class="info-item"><label>Group ID:</label> {{info.groupId}}</div>
    <div class="info-item"><label>Build Channel:</label> {{info.buildChannel}}</div>
    <div class="info-item"><label>Build ID:</label> {{info.buildId}}</div>
    <div class="info-item"><label>Device ID:</label> {{info.deviceId}}</div>
    <div class="info-item"><label>Tangerine Version:</label> {{info.tangerineVersion}}</div>
    <div class="info-item"><label>Version Tag:</label> {{info.versionTag}}</div>
    <div class="info-item"><label>Assigned Location:</label> <span [innerHTML]="info.assignedLocation"></span></div>
  </div>
</paper-card>