:host {
  position: relative;
  top: -20px;
}

#header {
  padding-top: 15px;
  background: var(--primary-color-dark);
}

#header-inner, .content-inner {
  max-width: 600px;
  margin: 0 auto;
}

#logo {
  max-width: 60%;
  margin: 15px auto 0px;
  text-align: center;
  display: block;
}

.mat-mdc-form-field {
  width: 100%;
}

button {
  margin-right: 15px;
  float: right;
}

#err {
  color: red;
}

/*.mat-input-element {*/
/*}*/
