<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<table class="release-table">
  <tr>
    <td style="padding-right: 15px;">
      <paper-card heading="
        Android Installation
      ">
        <div class="card-content">
          <p>
            {{'Use this for offline deployments or those with many forms and assets. If your site is configured for archives, you may download previous Android releases.'|translate}}
          </p>
          <mat-list>
            <mat-list-item class="tangy-location-list">
              <span class="tangy-foreground-secondary link" routerLink="release-apk-test">
                <iron-icon icon="assignment-late"></iron-icon> {{'Test Release'|translate}}
              </span>
              <span class="tangy-foreground-secondary link archives" routerLink="historical-releases-apk-test">
                 <iron-icon icon="archive"></iron-icon> {{'Download Test Releases'|translate}}
              </span>
            </mat-list-item>
            <mat-list-item class="tangy-location-list">
              <span class="tangy-foreground-secondary link" routerLink="release-apk-live">
                <iron-icon icon="assignment-turned-in"></iron-icon> {{'Live Release'|translate}}
              </span>
              <span class="tangy-foreground-secondary link archives" routerLink="historical-releases-apk-live">
                <iron-icon icon="archive"></iron-icon> {{'Download Live Releases'|translate}}
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </paper-card>
    </td>
    <td>
      <paper-card heading="
        Web Browser Installation
      ">
        <div class="card-content">
          <p>
            {{'Use this for smaller deployments where tablets have solid internet connectivity. If your site is configured for archives, you may view previous web releases.'|translate}}
          </p>
          <mat-list>
            <mat-list-item class="tangy-location-list">
              <span class="tangy-foreground-secondary link" routerLink="release-pwa-test">
                <iron-icon icon="assignment-late"></iron-icon> {{'Test Release'|translate}}
              </span>
              <span class="tangy-foreground-secondary link archives" routerLink="historical-releases-pwa-test">
                 <iron-icon icon="list"></iron-icon> {{'View Test Releases'|translate}}
              </span>
            </mat-list-item>
            <mat-list-item class="tangy-location-list">
              <span class="tangy-foreground-secondary link" routerLink="release-pwa-live">
                <iron-icon icon="assignment-turned-in"></iron-icon> {{'Live Release'|translate}}
              </span>
              <span class="tangy-foreground-secondary link archives" routerLink="historical-releases-pwa-live">
                 <iron-icon icon="list"></iron-icon> {{'View Live Releases'|translate}}
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </paper-card>
    </td>
  </tr>
</table>