<div id="update-in-progress" *ngIf="updateIsRunning">
  <div id="update-in-progress-inner">
    <img src="../logo.svg">
    <br> {{'Update is Running. Please Wait ...'|translate}}
    <br>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<mat-toolbar *ngIf="installed" dir="{{languageDirection}}" color="primary" class="mat-typography mat-tangy-custom-toolbar">
  <span class="home-icon" *ngIf="isLoggedIn">
    <a class="tangy-no-text-decoration tangy-app-name" routerLink="/home">
      <app-tangy-svg-logo [tangyLogoStyle]="{'height':'45px'}"></app-tangy-svg-logo>
    </a>
  </span>

  <span>
    <a class="tangy-no-text-decoration tangy-app-name" routerLink="home"></a>
  </span>
  <span class="tangy-spacer"></span>

  <paper-icon-button icon="more-vert" [matMenuTriggerFor]="appMenu" class="hamburger-menu"></paper-icon-button>
  <mat-menu #appMenu="matMenu">
    <button *ngIf="ready && !appConfig.hideProfile" routerLink="manage-user-profile" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">create</mat-icon>
      <span>{{'Manage Profile'|translate}}</span>
    </button>
    <button *ngIf="!isLoggedIn" routerLink="" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">lock_open</mat-icon>
      <span>{{'Login / Register'|translate}}</span>
    </button>
    <button *ngIf="isLoggedIn" routerLink="settings" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">settings</mat-icon>
      <span>{{'Settings'|translate}}</span>
    </button>
    <button *ngIf="isLoggedIn" routerLink="/sync-records" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">autorenew</mat-icon>
      <span>{{'Sync'|translate}}</span>
    </button>
    <button *ngIf="isLoggedIn" routerLink="/export-data" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">import_export</mat-icon>
      <span>{{'Export Data'|translate}}</span>
    </button>
    <button mat-menu-item (click)="updateApp()" *ngIf="showUpdateAppLink">
      <mat-icon class="material-icons menu-tangy-location-list-icon">cloud_download</mat-icon>
      <span>{{'Update App'|translate}}</span>
    </button>
    <button mat-menu-item (click)="updateApp()" *ngIf="!showUpdateAppLink">
      <mat-icon class="material-icons menu-tangy-location-list-icon">cloud_download</mat-icon>
      <span>{{'Check for Update'|translate}}</span>
    </button>
    <button *ngIf="isLoggedIn" mat-menu-item routerLink="/maintenance">
      <mat-icon class="material-icons menu-tangy-location-list-icon">build</mat-icon>
      <span>{{'Maintenance'|translate}}</span>
    </button>
    <button routerLink="about" mat-menu-item>
      <mat-icon class="material-icons menu-tangy-location-list-icon">info</mat-icon>
      <span>{{'About'|translate}}</span>
    </button>
    <button *ngIf="isLoggedIn" mat-menu-item (click)="logout()">
      <mat-icon class="material-icons menu-tangy-location-list-icon">exit_to_app</mat-icon>
      <span>{{'Logout'|translate}}</span>
    </button>

  </mat-menu>

</mat-toolbar>
<div class="tangerine-app-content mat-typography">
  <router-outlet *ngIf="ready"></router-outlet>
</div>
