:host(:not(.hide-spinner)) {
  display: block;
  min-height: 500px;
  background: url('../../../../loading.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.new-issue-button {
  position: absolute;
  top: 74px;
  right: 15px;
  color: #fff;
}

.open-issue-button {
  position: absolute;
  top: 74px;
  right: 15px;
  color: #fff;
}
