@media print {
  mat-sidenav {
    display: none;
  }
}

.tangy-main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--document-background-color);
}

.active-menu-item {
  background: var(--mdc-theme-secondary);
  color: white;
}


.inactive-menu-item {
  color: black;
}
.manage-users-list-item {
  height: 53px;
}

#sidenav-bottom-group {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.mat-drawer-opened #sidenav-bottom-group {
  width: 400px;
}

/* For some reason, icons randomly take up a bunch of width. Fix them. */
.menu-item i {
  width: 25px;
}
/*
.tangy-main-is-mobile .tangy-main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. 
  z-index: 2;
}
*/

.list_alt-icon {
  width: 20px;
}

h1.tangy-main-app-name {
  margin-left: 8px;
  margin-right: 24px;
}

/*
 * Tangerine logo
 */

.tangerine-logo-closed {
  width: 40px;
  margin: 12px 0px 12px 5px;
}

.tangerine-logo-opened {
  width: 155px;
  margin-left: 45px;
  margin-top: 12px;
  margin-bottom: 14px;
  margin-right: 5px;
  /* Example of a taller logo
  width: 220px;
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 14px;
  margin-right: 12px;
  */
}

mat-sidenav.mat-drawer-opened .tangerine-logo-closed {
  display:none;
}

mat-sidenav:not(.mat-drawer-opened) .tangerine-logo-opened {
  display:none;
}

/*
 * Sidenav
 */

.sidenav-title {
  color: var(--primary-text-color);
  margin: 0px 15px 15px;
  font-size: 1.2rem;
  text-align: center;
  width: 200px;
}

mat-sidenav:not(.mat-drawer-opened) .sidenav-title {
  display: none;
}

.tangy-main-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background: var(--document-background-color);
}

.tangy-main-is-mobile .tangy-main-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.mat-sidenav {
  width: 15rem;
  /*
  background-color: var(--tertiary-color);
  color: var(--accent-text-color);
  */
}
mat-sidenav-container {
  margin-top: 0px !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.text-black {
  color: var(--tertiary-color);
}
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
  line-height: 3;
  display: inline-flex;
}
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item:hover:not(.active-menu-item) {
  cursor: pointer;
  background: #EEE;

}
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item a {
  text-decoration: none;
  margin-left: 1rem;
}
.mat-divider {
  border-top: var(--accent-text-color) 1px solid;
}
.menu-icon {
  padding-top: 0.8rem;
  margin-left: 1rem;
  font-size: 120%;
}
mat-toolbar.mat-toolbar {
  background: var(--primary-color);
  color: var(--accent-text-color);  
}

mat-sidenav-content:not(.mat-drawer-opened) {
  padding-left: 50px;
}
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 50px !important;
  overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
  width: 100%;
}
