<div class="tangy-main-container" [class.tangy-main-is-mobile]="mobileQuery.matches">

    <mat-sidenav-container class="tangy-main-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [class.mat-drawer-opened]="snav.opened" [mode]="mobileQuery.matches ? 'over' : 'side'" disableClose>
            <mat-nav-list class="tangy-full-width tangerine-logo">
                <mat-list-item routerLink="/">
                    <img src="/assets/tangerine-logo.png">
                </mat-list-item>
            </mat-nav-list>
            <mat-nav-list class="tangy-full-width">

            <mat-nav-list class="tangy-full-width">
                <mat-list-item
                    [class.active-menu-item]="menuService.section === 'author'"
                    routerLink="/groups/{{menuService.groupId}}/author"              
                    *ngIf="menuService.groupId" 
                >
                    <span class=""><i class="material-icons menu-icon">create</i></span>
                    <a 
                        matLine 
                   >{{'Author'|translate}}</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <mat-nav-list class="tangy-full-width">
                <mat-list-item
                    [class.active-menu-item]="menuService.section === 'data'"
                    routerLink="/groups/{{menuService.groupId}}/data"
                    *ngIf="menuService.groupId" 
                >
                    <span class=""><i class="material-icons menu-icon list_alt-icon">list_alt</i></span>
                    <a
                        matLine 
                    >{{'Data'|translate}}</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <mat-nav-list class="tangy-full-width">
                <mat-list-item
                    [class.active-menu-item]="menuService.section === 'configure'"
                    routerLink="/groups/{{menuService.groupId}}/configure"              
                    *ngIf="menuService.groupId" 
                >
                    <span class=""><i class="material-icons menu-icon">settings_applications</i></span>
                    <a
                        matLine 
                    >{{'Configure'|translate}}</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <mat-list-item
                [class.active-menu-item]="menuService.section === 'deploy'"
                routerLink="/groups/{{menuService.groupId}}/deploy"              
                *ngIf="menuService.groupId"
            >
                <span class=""><i class="material-icons menu-icon">phonelink_ring</i></span>
                <a 
                    matLine 
                >{{'Deploy'|translate}}</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            </mat-nav-list>
            <mat-nav-list class="tangy-full-width">
                <mat-list-item
                    *ngIf="loggedIn && menuService.groupId === ''"
                    [class.active-menu-item]="menuService.section === 'groups'"
                    routerLink="/"
                >
                    <span class=""><i class="material-icons menu-icon">group_work</i></span>
                    <a matLine>{{'Groups'|translate}}</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <mat-nav-list class="tangy-full-width">
                <mat-list-item
                    *ngIf="loggedIn && canManageSitewideUsers && menuService.groupId === ''"
                    class="manage-users-list-item"
                    [class.active-menu-item]="menuService.section === 'manage-users'"
                    routerLink="/manage-users"
                >
                    <span class=""><i class="material-icons menu-icon">group</i></span>
                    <a matLine>{{'Manage Users'|translate}}</a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
            <div id="sidenav-bottom-group">
                <!-- groups link in the group context -->
                <mat-nav-list class="tangy-full-width">
                    <mat-list-item
                        *ngIf="loggedIn && menuService.groupId !== ''"
                        [class.active-menu-item]="menuService.section === 'groups'"
                        routerLink="/"
                    >
                        <span class=""><i class="material-icons menu-icon">group_work</i></span>
                        <a matLine>{{'Groups'|translate}}</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-nav-list>
                <!-- Help link in the group context -->
                <mat-nav-list class="tangy-full-width">
                    <mat-list-item
                        *ngIf="loggedIn && menuService.groupId"
                        [class.active-menu-item]="menuService.section === 'help'"
                        routerLink="/groups/{{menuService.groupId}}/support"
                    >
                        <span class=""><i class="material-icons menu-icon">help</i></span>
                        <a matLine>{{'Help'|translate}}</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-nav-list>
                <!-- Help link in the global context -->
                <mat-nav-list class="tangy-full-width">
                    <mat-list-item
                        *ngIf="loggedIn && !menuService.groupId"
                        [class.active-menu-item]="menuService.section === 'help'"
                        routerLink="/support"
                    >
                        <span class=""><i class="material-icons menu-icon">help</i></span>
                        <a matLine>{{'Help'|translate}}</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-nav-list>
                <mat-nav-list class="tangy-full-width">
                    <mat-list-item
                        routerLink="/login"
                        *ngIf="loggedIn"
                    >
                        <span class=""><i class="material-icons menu-icon">exit_to_app</i></span>
                        <a (click)="logout();" matLine>{{'Logout'|translate}}</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-nav-list>
            </div>
        </mat-sidenav>


        <mat-sidenav-content [class.mat-drawer-opened]="snav.opened">
            <mat-toolbar class="tangy-main-toolbar mat-elevation-z5">
                <button mat-icon-button (click)="snav.toggle()" *ngIf="loggedIn">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 class="tangy-main-app-name">
                    {{menuService.title}}
                </h1>
                <span class="toolbar-spacer"></span>
                <button mat-button color="accent" *ngIf="loggedIn">
                    <i class="material-icons">account_circle</i> <span class="text-black">{{user_id}}</span>
                </button>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>