<tangerine-form>
title: ''
cards:
  - id: 'card1'
    fields:
        - type: 'input'
          key: 'variable1'
          templateOptions: 
            required: true
            label: 'Variable 1'
            type: 'text'
        - type: 'input'
          key: 'variable2'
          templateOptions: 
            required: true
            label: 'Variable 2'
            type: 'text'
  - id: 'card2'
    fields:
        - type: 'input'
          key: 'variable3'
          templateOptions: 
            required: true
            label: 'Variable 3'
            type: 'text'
        - type: 'input'
          key: 'variable4'
          templateOptions: 
            required: true
            label: 'Variable 4'
            type: 'text'
  - id: 'card3'
    title: 'Fruit'
    subtitle: 'A very important topic.'
    avatarImage: 'https://tangerinekenya.github.io/DesignSprintPrototype-Team1/images/tangerineLogo.png'
    fields:
        - type: 'select'
          key: 'doge_name'
          templateOptions: 
            required: true
            label: 'What is your favorite fruit?'
            options:
              - key: orange
                label: Orange
              - key: strawberry
                label: Strawberry
              - key: Tangerine
                label: Tangerine
              - key: coconut
                label: Coconut
</tangerine-form>
