
<tangerine-form #tangerineForm>

  <tangerine-form-card>
    id: 'card1'
    fields:
        - type: 'input'
          key: 'variable1'
          templateOptions: 
            required: true
            label: 'Variable 1'
            type: 'text'
        - type: 'input'
          key: 'variable2'
          templateOptions: 
            required: true
            label: 'Variable 2'
            type: 'text'
  </tangerine-form-card>

  <tangerine-form-card>
    id: 'card2'
    fields:
        - type: 'input'
          key: 'variable3'
          templateOptions: 
            required: true
            label: 'Variable 3'
            type: 'text'
        - type: 'input'
          key: 'variable4'
          templateOptions: 
            required: true
            label: 'Variable 4'
            type: 'text'
  </tangerine-form-card>
  
  <tangerine-form-card>
    id: 'card3'
    title: 'Fruit'
    subtitle: 'A very important topic.'
    avatarImage: 'https://tangerinekenya.github.io/DesignSprintPrototype-Team1/images/tangerineLogo.png'
    fields:
        - type: 'select'
          key: 'favorite_fruit'
          templateOptions: 
            required: true
            label: 'What is your favorite fruit?'
            options:
              - value: not_selected
                label: ''
              - value: orange
                label: Orange
              - value: strawberry
                label: Strawberry
              - value: Tangerine
                label: Tangerine
              - value: coconut
                label: Coconut
  </tangerine-form-card>
  
  <h3> 
    A Tangerine Form Card with a hide expression.
  </h3>
  <tangerine-form-card #card8>
      id: 'card8'
      fields:
        - type: 'select'
          key: 'want_to_answer'
          required: true
          templateOptions:
            required: true
            options:
              - value: 'no_answer'
                label: '...'
              - value: 'yes'
                label: 'Yes'
              - value: 'no'
                label: 'No'
            label: 'Would you like to tell us your name?'
            type: 'text'
        - type: 'input'
          key: 'name'
          hideExpression: 'model.want_to_answer !== "yes"'
          templateOptions:
            required: true
            label: 'What is your name?'
            type: 'text'
  </tangerine-form-card>
   
  <h3> 
    Two Tangerine Form Cards with a hide expression between them.
  </h3>
  <tangerine-form-card>
      id: 'card9'
      fields:
        - type: 'select'
          key: 'want_to_answer_2'
          required: true
          templateOptions:
            required: true
            options:
              - value: 'no_answer'
                label: '...'
              - value: 'yes'
                label: 'Yes'
              - value: 'no'
                label: 'No'
            label: 'Would you like to tell us your name?'
            type: 'text'
  </tangerine-form-card>

  <tangerine-form-card>
      id: 'card10'
      fields:
        - type: 'input'
          key: 'name_2'
          hideExpression: 'model.want_to_answer_2 !== "yes"'
          templateOptions:
            required: true
            label: 'What is your name?'
            type: 'text'
  </tangerine-form-card>
  
  <h3>Model:</h3>
  <pre> {{tangerineForm.tangerineFormModel | json}}</pre>

</tangerine-form>