<tangerine-form>
title: ''
cards:
  - id: 'card1'
    fields:
        - type: 'input'
          key: 'variable1'
          templateOptions: 
            required: true
            label: 'Variable 1'
            type: 'text'
        - type: 'input'
          key: 'variable2'
          templateOptions: 
            required: true
            label: 'Variable 2'
            type: 'text'
  - id: 'card2'
    fields:
        - type: 'input'
          key: 'variable3'
          templateOptions: 
            required: true
            label: 'Variable 3'
            type: 'text'
        - type: 'input'
          key: 'variable4'
          templateOptions: 
            required: true
            label: 'Variable 4'
            type: 'text'
  - id: 'card3'
    fields:
        - type: 'input'
          key: 'variable5'
          templateOptions: 
            required: true
            label: 'Variable 5'
            type: 'text'
        - type: 'input'
          key: 'variable6'
          templateOptions: 
            required: true
            label: 'Variable 6'
            type: 'text'
</tangerine-form>
