html {
  box-sizing: border-box;
}

.hideme {
  display:none;
}

.mat-table {
  width:100%;
}

.mat-column-select {
  overflow: initial;
}

.mat-column-Name {
  padding-right:5px;
}

th.mat-header-cell {
  text-align: right;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-tab-label-active {
  background-color: greenyellow;
}

/*.tangy-tab-curriculum {*/
  /*background-color: greenyellow;*/
/*}*/

::ng-deep .tangy-tab-curriculum .mat-tab-labels {
  background-color: #05608d;
  color: #fff;
  font-weight: 500;
  line-height: 10px;
  height: 45px;
  font-size:12px;
}

::ng-deep .tangy-tab-curriculum .mat-tab-label-active {
  background-color: #f29d38;
}

::ng-deep #checkboxContainer {
  margin-left:10px;
}

.student-name {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
  padding-left: 1em;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin: 10px;
}

input[type=checkbox]:not(:checked) {
  outline: 1px solid #1e5180
}

.tangy-list-header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  background: rgba(0,0,0,.03);
}

.classDashboard {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.classDashboard button {
  background-color: white;
}

.class-dashboard-button-spacer-left {
  margin-left: 10px;
}

.class-dashboard-button-spacer-right {
  margin-right: 10px;
}

.class-dashboard-curr-button-spacer {
  margin-left: 2px;
}

.selectedClassLabel {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
 }

.selectedClassLabel p {
  text-align: center;
 }

.dashboard-table {
  border-collapse: collapse;
  width: 100%;
}

.dashboard-table th {
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f29d38;
  color: white;
}

.dashboard-table .checkbox-response {
  text-align: center;
}

.tangy-class-card-content-container {
  margin-left: 3%;
  /*width: 90%;*/
  margin-right: 5%;
  /*min-height: vh;*/
}
.flexbox-horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.d1 {
  width: 50%;
}
.d2 {
  width: 50%;
}
mat-card.card-feedback {
  background-color: #f29d38;
  padding: 16px 10px 10px;
  border-radius:unset;
}
mat-card-header {
  font-size: 10px;
}
mat-card-content {
  background-color: white;
  padding:1em;
}
mat-card-title {
  color: white;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

::ng-deep .cdk-overlay-pane {
  top: 120px !important;
}

.attendance-icons {
  padding: 0 0.5em;
  font-size: xx-large;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: green;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary.gray {
  background-color: lightgrey;
}

.gray {
  background-color: gray;
}
