<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<paper-fab mat-raised-button icon="add" color="accent" [routerLink]="['/groups/',groupId,'addUser']"></paper-fab>

<mat-table [dataSource]="users" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> {{'Username'|translate}} </mat-header-cell>
    <mat-cell *matCellDef="let user"> <a class="tangy-foreground-primary" [routerLink]="['/groups',groupId, 'configure', 'security','permissions', user.username]">
      <i class="material-icons mat-18 tangy-location-list-icon">open_in_new</i>
    </a><span class="tangy-foreground-secondary">{{user.username}}</span> </mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> {{'Email'|translate}} </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> {{'Actions'|translate}} </mat-header-cell>
    <mat-cell *matCellDef="let user"> <a class="tangy-foreground-primary" (click)="removeUserFromGroup(user.username)">
      <i class="material-icons mat-18 tangy-location-list-icon">delete</i>
    </a></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="usersDisplayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></mat-row>
</mat-table>
