

<div class="mdl-color--amber color-header clearfix">
    <div class="color-explanation mdl-color-text--white">
        <h4>Billing</h4>
        <h6>History of charges</h6>
    </div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
        <div class="left-info-box no-print">
            <!--<h5><i class="material-icons">format_align_left</i> Help</h5>-->
            <!--<p>To sign up for paid subscription go <a href="/#/billing">here</a></p>-->
        </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone r-content">
        <div class="body-content">
            <div class="mdl-card mdl-shadow--2dp change-width">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Credit Card Charges</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div *ngIf="load_error">
                        An error occurred while loading the billing history!
                    </div>
                    <div *ngIf="readyForDisplay">
                        <div *ngFor="let bill of billingData">
                            <mdl-card mdl-shadow="4">
                                <mdl-card-title>
                                    <h3 mdl-card-title-text *ngIf="bill.value.pnref">Payment Ref: {{bill.value.pnref}}</h3>
                                    <h3 mdl-card-title-text *ngIf="!bill.value.pnref">Bill dated {{bill.value.timestamp | date:'medium'}}</h3>
                                </mdl-card-title>
                                <mdl-card-supporting-text>
                                    <p *ngIf="bill.value.transtime">Payment date: {{bill.value.transtime | date:'medium'}}</p>
                                    <p *ngIf="bill.value.acct">Credit card ending in: {{bill.value.acct}}</p>
                                    <p *ngIf="bill.value.planRequested">Plan: {{bill.value.planRequested}}</p>
                                    <p *ngIf="bill.value.planDescription">Description: {{bill.value.planDescription}}</p>
                                    <p *ngIf="bill.value.pnref">Payment Reference: {{bill.value.pnref}}</p>
                                    <p *ngIf="bill.value.amt">Amount: ${{bill.value.amt}}</p>
                                    <p *ngIf="bill.value.respmsg">Paypal Server response: {{bill.value.respmsg}}</p>
                                    <p *ngIf="bill.value.resultCode">Result code: {{bill.value.resultCode}}</p>
                                </mdl-card-supporting-text>
                            </mdl-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-card__supporting-text" *ngIf="billingData.length == 0"><br/><br/>You currently do not have
                any charges.
            </div>
            <div class="mdl-card__actions right no-print">
                <button onclick="print()"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-700">Print
                </button>
            </div>
        </div>
    </div>
</div>
