<div *ngIf="loaded">
  <app-case-breadcrumb *ngIf="caseService && caseService.case && caseService.case._id" [caseId]="caseService.case._id" [caseEventId]="caseEvent.id"></app-case-breadcrumb>

  <div class="wrapper">
    <app-event-form-list-item
      *ngFor="let eventFormInfo of noRoleEventFormInfos"
      [case]="caseService.case"
      [caseDefinition]="caseService.caseDefinition"
      [caseEvent]="caseEvent"
      [caseEventDefinition]="caseEventDefinition"
      [eventForm]="eventFormInfo.eventForm"
      [eventFormDefinition]="eventFormInfo.eventFormDefinition"
      class="form {{eventFormInfo.eventFormDefinition.required ? 'required' : ''}}" 
      routerLink="/case/event/form/{{eventFormInfo.eventForm.caseId}}/{{eventFormInfo.eventForm.caseEventId}}/{{eventFormInfo.eventForm.id}}"
    >
    </app-event-form-list-item>
    <div
      class="form-cards" 
      *ngFor="let participantInfo of participantInfos"
    >
      <h2 [innerHTML]="participantInfo.renderedListItem|unsanitizeHtml"></h2>
      <app-event-form-list-item
        *ngFor="let eventFormInfo of participantInfo.eventFormInfos"
        [case]="caseService.case"
        [caseDefinition]="caseService.caseDefinition"
        [caseEvent]="caseEvent"
        [caseEventDefinition]="caseEventDefinition"
        [eventForm]="eventFormInfo.eventForm"
        [eventFormDefinition]="eventFormInfo.eventFormDefinition"
        class="form {{eventFormInfo.eventFormDefinition.required ? 'required' : ''}}" 
        routerLink="/case/event/form/{{eventFormInfo.eventForm.caseId}}/{{eventFormInfo.eventForm.caseEventId}}/{{eventFormInfo.eventForm.id}}"
      >
      </app-event-form-list-item>
      <div class="icon-list-item form new-form" *ngIf="availableEventFormDefinitions.length > 0">
        <mwc-icon slot="item-icon">form</mwc-icon>
        <div>
          <div>{{'New Form'|translate}}</div>
          <div secondary>
            <form (ngSubmit)="onSubmit()" #form="ngForm">
              <select name="selected-form-definition" [(ngModel)]="selectedNewEventFormDefinition">
                <option *ngFor="let availableEventFormDefinition of availableEventFormDefinitions" [value]="availableEventFormDefinition.id">{{availableEventFormDefinition.name}}</option>
              </select>
              <button type="submit">create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>