h2 {
    margin: 30px 0px 25px 20px;
}

.screen {
    position: absolute;
    background: #000;
    opacity: .5;
    z-index: 987654321;
    width: 100%;
    height: 5000px;
}

.subject-header {
    background: #212a3f;
    color: white;
    font-size: 1em;
    padding: 15px;
}

.subject-header iron-icon {
    width: 72px;
    height: 72px;
    position: relative;
    bottom: 5px; 
}
.subject-header h1 {
    font-size: 3em;
}

.subject-header div[secondary] {
    margin-left: 10px;
}

.new-form-container {
    position:relative;
}

.new-form-button {
    position: absolute;
    top: -64px;
    right: 23px;
}

.wrapper {
    position: relative;
    margin: 0px;
}

paper-button {
    background: var(--accent-color);
    color: white;
}
paper-card {
    text-align: left;
}

app-event-form-list-item {
    display: flex;
}
app-event-form-list-item:focus {
    outline: none;
    background-color: rgba(0,0,0,0.12);
}
.form {
    background: #fff;
    border-top: 1px solid #ccc;
}

.form.new-form {
    border: 1px dashed #ccc;
}

.form.complete {
    background: #CCC;
}
select {
    font-family: inherit;
    background-color: transparent;
    width: 80%;
    padding: 4px 0;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #737373;
}

button[type="submit"] {
    background-color: #3c5b8d;
    border: 1px solid #3c5b8d;
    box-shadow: 0 2px 2px 0 rgba(60, 91, 141, 0.14), 0 3px 1px -2px rgba(60, 91, 141, 0.2), 0 1px 5px 0 rgba(60, 91, 141, 0.12);
    padding: 5px 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    border-radius: .25rem;
}
:host {
}