<div *ngIf="loaded">
  <app-case-breadcrumb *ngIf="caseService && caseService.case && caseService.case._id" [caseId]="caseService.case._id" [caseEventId]="caseEvent.id"></app-case-breadcrumb>

  <div class="wrapper">
    <div class="form-cards" *ngIf="caseService">
      <app-event-form-list-item
        *ngFor="let eventFormInfo of eventFormsInfo"
        [case]="case"
        [caseDefinition]="caseDefinition"
        [caseEvent]="caseEvent"
        [caseEventDefinition]="caseEventDefinition"
        [eventForm]="eventFormInfo.eventForm"
        [eventFormDefinition]="eventFormInfo.eventFormDefinition"
        class="form {{eventFormInfo.eventFormDefinition.required ? 'required' : ''}}" 
        routerLink="/case/event/form/{{eventFormInfo.eventForm.caseId}}/{{eventFormInfo.eventForm.caseEventId}}/{{eventFormInfo.eventForm.id}}"
      >
      </app-event-form-list-item>
      <paper-icon-item class="form new-form" *ngIf="availableEventFormDefinitions.length > 0">
        <iron-icon icon="form" slot="item-icon"></iron-icon>
        <paper-item-body two-line>
          <div>
            {{'New Form'|translate}}
          </div>
          <div secondary>
            <form (ngSubmit)="onSubmit()" #form="ngForm">
              <select name="selected-form-definition" [(ngModel)]="selectedNewEventFormDefinition">
                <option *ngFor="let availableEventFormDefinition of availableEventFormDefinitions" [value]="availableEventFormDefinition.id">{{availableEventFormDefinition.name}}</option>
              </select>
              <button type="submit">create</button>
            </form>
          </div>
        </paper-item-body>
      </paper-icon-item>
    </div>
  </div>
</div>