<div class="login-app-content">
  <div class="group">

    <form role="form" #registration='ngForm' novalidate (submit)="register()">
      <br>
      <h3 class="tangy-foreground-primary">Register on Tangerine</h3>
      <mat-form-field>
        <input name="username" type="text" matInput [(ngModel)]="user.username" (blur)="doesUserExist(user.username)" required>
        <mat-placeholder>
          <i class="material-icons mat-11 app-input-icon">face</i>Username
        </mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input name="email" type="email" matInput [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required>
        <mat-placeholder>
          <i class="material-icons mat-11">mail_outline</i>Email
        </mat-placeholder>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="password" matInput [(ngModel)]="user.password" type="password" required>
        <mat-placeholder>
          <i class="material-icons mat-11 app-input-icon">lock_open</i>Password
        </mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input name="confirmPassword" matInput [(ngModel)]="user.confirmPassword" type="password" required>
        <mat-placeholder>
          <i class="material-icons mat-11 app-input-icon">lock_open</i>Confirm Password
        </mat-placeholder>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" type="submit" [disabled]="registration.invalid||user.password!==user.confirmPassword">REGISTER</button>
      <button color="accent" mat-button routerLink="#/login">LOGIN</button>
      <span [id]="statusMessage.type">
        <small>{{statusMessage.message}}</small>
      </span>
    </form>
  </div>
</div>