<div class="login-app-content">
  <div class="group">

    <form role="form" #registration='ngForm' novalidate (submit)="register()">
      <br>
      <h3 class="mat-title">{{'app.register'|translate}}</h3>
      <mat-form-field>
        <input name="username" type="text" matInput [(ngModel)]="user.username" (blur)="doesUserExist(user.username)" required>
        <mat-placeholder>
          <i class="material-icons app-input-icon">face</i>{{'app.username'|translate}}
        </mat-placeholder>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="password" matInput [(ngModel)]="user.password" type="password" required>
        <mat-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>{{'app.password'|translate}}
        </mat-placeholder>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="confirmPassword" matInput [(ngModel)]="user.confirmPassword" type="password" required>
        <mat-placeholder>
          <i class="material-icons app-input-icon">lock_open</i>{{'app.confirmPassword'|translate}}
        </mat-placeholder>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="securityQuestionResponse" type="text" matInput [(ngModel)]="user.securityQuestionResponse" required>
        <mat-placeholder>
          <i class="material-icons app-input-icon">security</i>{{securityQuestionText}}
        </mat-placeholder>
      </mat-form-field>
      <br>
      <button mat-raised-button color="accent" type="submit" [disabled]="registration.invalid||user.password!==user.confirmPassword">{{'app.register'|translate}}</button>
      <a href="#/login">{{'app.login'|translate}}</a>
      <span [id]="statusMessage.type">
        <small>{{statusMessage.message}}</small>
      </span>
    </form>
  </div>
</div>