<div class="p2p-sync" #p2p>
  <p>{{t('P2P Sync is used for transferring records to other nearby devices when there is not a reliable Internet connection at the facility. If one of the devices has an Internet connection, it can be used to collect all of the records from nearby devices and then transmit all of the records using Online Sync.')}}</p>
  <h2>{{t('Start Discovery')}}</h2>

  <p>{{t('Click the Discovery button on each device you wish to sync; this will make them available for discovery.')}} </p>
  <p>
    <button mat-raised-button color="primary" class="bigText" id="startAdvertisingBtn" (click)="startAdvertising()">{{t('Discovery')}}</button>
  </p>
  <div class="bigText" id="localEndpointName"></div>
  <h2>{{t('List of available nearby devices')}}</h2>
  <div *ngIf="endpoints?.length === 0">{{t('No nearby devices.')}}</div>
  <div *ngIf="endpoints?.length > 0">
    <p>{{t('Collect and transfer data to all devices in this list by clicking each device listed below. Proceed through the list. After you have sync\'d data to all devices, you must repeat the whole process to ensure data from all devices has been sync\'d to all of its peers. Then you may connect your device to the Internet and transmit all of the records using Online Sync.')}}</p>
    <div id="transferProgress"></div>
    <div id="direction"></div>
    <div id="progress"></div>
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Endpoint selection">
      <mat-chip id="endpoints" *ngFor="let endpoint of endpoints" (click)="connectToEndpoint(endpoint.id, endpoint.endpointName)">
        {{endpoint.endpointName}} : {{endpoint.status}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <p>&nbsp;</p>
  <h2>{{t('Log')}}</h2>
  <div id="p2p-errors"></div>
  <div id="p2p-results"></div>

<!--  <h2>Permissions</h2>-->
<!--  <p>This is only necessary in rare cases. This button enables necessary permissions</p>-->
<!--  <p>-->
<!--    <button mat-raised-button color="primary" class="bigText" id="getPermission" (click)="getTangyP2PPermissions()">Enable Permissions</button>-->
<!--  </p>-->
</div>
