:host(:not(.hide-spinner)) {
  display: block;
  min-height: 500px;
  background: url('../../../../loading.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.event-form-redirect-back-button {
  width: 100%;
  background-color: #546e7a;
  color: #cfd8dc;
  padding: 1rem;
  position: relative;
}

.event-form-redirect-back-button .icon {
  vertical-align: bottom;
}

.new-issue-button {
  position: absolute;
  top: 61px;
  right: 15px;
  color: #fff;
}