<md-tab-group>
  <md-tab label="My Locations">
    <br>
    <md-card class="tangy-card-content-container">
      <md-input-container class="tangy-full-width">
        <input name="username" #search type="text" mdInput [(ngModel)]="locationName">
        <md-placeholder>
          Filter Location By Name
          <span>
            <i class="material-icons md-14 search-icon">search</i>
          </span>
        </md-placeholder>
      </md-input-container>
      <md-list>
        <md-list-item class="tangy-location-list">
          <span class="tangy-foreground-primary">Locations Not yet Visited Visited This Month</span>
          <span class="tangy-spacer"></span>
          <span class="tangy-foreground-primary">Visits</span>
        </md-list-item>
        <md-list-item class="tangy-location-list" *ngFor="let location of notYetVisitedLocations">
          <a class="tangy-foreground-primary" routerLink="/forms-list">
            <i class="material-icons md-18 tangy-location-list-icon">open_in_new</i>
          </a>
          <span>{{location.location}}</span>
          <span class="tangy-spacer"></span>
          <span>{{location.visits}}</span>
        </md-list-item>
      </md-list>
      <md-list>
        <md-list-item class="tangy-location-list">
          <span class="tangy-foreground-primary">Locations Already Visited This Month</span>
          <span class="tangy-spacer"></span>
          <span class="tangy-foreground-primary">Visits</span>
        </md-list-item>
        <md-list-item class="tangy-location-list" *ngFor="let location of alreadyVistedLocations">
          <a class="tangy-foreground-primary" routerLink="/tangy-forms">
            <i class="material-icons md-18 tangy-location-list-icon">open_in_new</i>
          </a>
          <span>{{location.location}}</span>
          <span class="tangy-spacer"></span>
          <span>{{location.visits}}</span>
        </md-list-item>
      </md-list>
    </md-card>
  </md-tab>
  <md-tab label="Monthly Report">Content 2</md-tab>
  <!-- <md-tab label="Monthly Report">Manage My Schools List</md-tab> -->
</md-tab-group>