.tangy-foreground-primary {
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.tangy-location-list-icon {
  color: #f26f10;
  font-weight: 700;
  font-size: 20px;
}
mat-icon {
  color: #f26f10;
}
.mat-title {
  color: #3c5b8d;
  font-size: 1.75em;
  font-weight: 400;
  font-family: Roboto, "Helvetica Nue", sans-serif;
  margin:.75em;
}

mat-form-field.tangy-half-width {
  display:inline-block;
  float:right;
  position: relative;
  top: 5px;
}

mat-list {
  display:block;
  width: 100%;
}


