<md-grid-list cols="2" rowHeight="2:1">
  <h2>Log in to Remote Server</h2>
  <md-grid-tile>
    <md-input-container>
      <label>Username</label>
      <input mdInput [(ngModel)]="user.username" place>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input mdInput [(ngModel)]="user.password" type="password">
    </md-input-container>
    <button md-raised-button (click)="loginForUpload()">Login</button>
  </md-grid-tile>
  <md-grid-tile></md-grid-tile>
</md-grid-list>