<div class="icon-list-item case-event-list-item event {{caseEventDefinition.required ? 'required' : ''}} {{ caseEvent.archived ? 'disabled' : '' }}">
	<mwc-icon [innerHTML]="renderedTemplateListItemIcon" slot="item-icon"></mwc-icon>
	<div>
		<div [innerHTML]="renderedTemplateListItemPrimary|unsanitizeHtml"></div>
		<div [innerHTML]="renderedTemplateListItemSecondary|unsanitizeHtml" secondary></div>
	</div>
	<span class="tangy-spacer"></span>
	<span *ngIf="canUserArchiveForms && !caseEvent.archived">
		<paper-button (click)="archiveItem()" class="tangy-location-list-icon"><mwc-icon>archive</mwc-icon></paper-button>
	</span>
	<span *ngIf="canUserUnarchiveForms && caseEvent.archived">
		<paper-button (click)="unarchiveItem()" disabled="" class="tangy-location-list-icon"><mwc-icon>unarchive</mwc-icon></paper-button>
	</span>
</div>