.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
  width:50px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.actions-container {
  width: 100px;
  padding-right: 8px;
}
.actions-menu {
  margin-left: 7px;
}

.mat-column-_id {
  display: none;
}

mat-cell, mat-header-cell {
  padding: 5px;
  max-height: 300px;
  max-width: 300px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: scroll;
}

.mat-table {
  width:100%
}
