/*
 * Custom Styles
 */

/*
 * Theme override example:

html {
  --document-background-color: #FAFAFA !important;
  --primary-color-dark: #212a3f !important;
  --primary-text-color-overlay: #FFF !important;
  --primary-text-color: var(--light-theme-text-color) !important;
  --primary-color: #3c5b8d !important;
  --accent-color: #f26f10 !important;
  --accent-color-dark: #cc5500 !important;
  --accent-text-color: #FFF !important;
  --error-color: var(--paper-red-500) !important;
  --disabled-color: #BBB !important;
  --paper-tabs-selection-bar-color: #f26f10 !important;
}

*/

