<h2>Register as user</h2>
<form #registration='ngForm' novalidate (ngSubmit)="register(registration.value)">
  <md-grid-list cols="1" rowHeight="1:1">
    <md-grid-tile>
      <md-input-container>
        <label>Username</label>
        <input name="username" type="text" mdInput [ngModel]="user.username" (blur)="doesUserExist(registration.value.username)"
          required>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input name="email" type="email" mdInput [ngModel]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
      </md-input-container>

    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <label>Password</label>
        <input name="password" mdInput [ngModel]="user.password" type="password" required>
      </md-input-container>
      <md-input-container>
        <label>Confirm Password</label>
        <input name="confirmPassword" mdInput [ngModel]="user.confirmPassword" type="password" required>
      </md-input-container>
      <!-- <button md-raised-button (click)="login()">Login</button> -->
      <button type="submit" md-raised-button [disabled]="registration.invalid||registration.value.password!==registration.value.confirmPassword">Register</button>
      <a href="#/login">Go to Login Page</a>
    </md-grid-tile>
  </md-grid-list>
</form>