html {
  box-sizing: border-box;
}

.hideme {
  display:none;
}

.mat-column-select {
  overflow: initial;
}

.mat-column-Name {
  padding-right:5px;
}

th.mat-header-cell {
  text-align: right;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-tab-label-active {
  background-color: greenyellow;
}

/*
 * KlassGroupingView
 */
.concerning {
  background-color: #de9c75 !important;
}
.poor {
  background-color: #e5d095 !important;
}
.mediocre {
  background-color: #DC921F !important;
}
.good {
  background-color: #c9dc88 !important;
}
.great {
  background-color: #87db90 !important;
}
table {
  border: 2px solid white;
  background-color: #eee;
  margin-bottom: 2em;
}
table td,
table th {
  padding: 0.2em;
  border: 2px solid white;
}
table th {
  font-size: initial;
  font-weight: normal;
  color:initial;
  background-color: whitesmoke;
  text-align: left;
  /*border: 1px solid black;*/
}

.classDashboard {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.classDashboard button {
  background-color: white;
}

.class-dashboard-button-spacer-left {
  margin-left: 10px;
}

.class-dashboard-button-spacer-right {
  margin-right: 10px;
}

.class-dashboard-curr-button-spacer {
  margin-left: 2px;
}

p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
}

#reportContainer {
  display: flex;
  justify-content:space-between;
  /*flex-wrap: wrap;*/
}

.reportStats {
  background-color:transparent;
}

#feedback {
  width:45%;
  margin-left: 1em;
}

.feedback-example {
  padding:1em;
  background-color: lightgoldenrodyellow;
}

.flexbox-horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#overview div:not(:last-child) {
  margin-right: 40px;
}

#overview ul {
  list-style: none;
  padding-left: 0;
}
#stats td:not(:first-child) {
  text-align: center;
}
#stats td:first-child {
  padding-left: 5px;
}
.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



