<mat-card>
  <mat-card-content>
    <p class="mat-headline">{{'Syncing Summary'|translate}}</p>
    <span *ngIf="state === 'SYNC_STATE_FAIL'">{{'Sync unsuccessful, please retry.'|translate}}</span>
    <span *ngIf="state === 'SYNC_STATE_SUCCESS'">{{'Sync successful!'|translate}}</span>
    <div *ngIf="state === 'SYNC_STATE_SUCCESS'">
      {{'Docs pulled'|translate}}: {{pulled}} <br>
      {{'Docs pushed'|translate}}: {{pushed}} <br>
      {{'Docs in conflict'|translate}}: {{conflicts.join(', ')}}
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="state === 'SYNC_STATE_READY' || state === 'SYNC_STATE_FAIL'">
      <button id="sync-button" color="primary" mat-raised-button (click)="sync()">{{'START SYNC'|translate}}</button>
  </mat-card-actions>
</mat-card>