.hideme {
  display:none;
}
.subtest {
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
  display: block;
}
.subtest th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.subtest td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.subtest-report-header mat-select {
  width:300px;
}
.subtest-report-header {
  padding-top:20px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}
.subtest-report {
  padding-top:20px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}
.subtest-report-section {
  padding-top:20px;
  margin-bottom:10px;
  margin-left:5px;
  margin-right:5px;
}

select {
  width : auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
  font-size:18px;
}

#curriculumSelectElement {
  display:none
}
