<div class="mdl-color--amber color-header clearfix">
    <div class="color-explanation mdl-color-text--white">
        <h4>PayPal</h4>
        <h6>Paypal Transaction</h6>
    </div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
        <div class="left-info-box">
            <!--<h5><i class="material-icons">format_align_left</i> Help</h5>-->
            <p></p>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone r-content">
        <div class="body-content">
            <div class="mdl-card mdl-shadow--2dp change-width">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Your transaction is being processed</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>There may be a lag time before your plan selection is shown on our site. If you go to the
                        <a routerLink="/home" >home</a> page and don't see the plan updated yet, 
                        please be patient until your change is reflected.  
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>








<!--<div *ngIf="loggedIn">
       <p>Welcome to Tangerine-Hub</p>
   </div>-->

<!--<h3>Form value:</h3>
              <pre>{{value}}</pre>                -->