@use '@angular/material' as mat;
@import '_tangy-app-variables.scss';

@include mat.core();

$tangerine-app-theme: mat.define-light-theme(
    (
      color: (
        primary:$tangerine-app-primary,
        accent:$tangerine-app-accent,
        warn:$tangerine-app-warn
      )
    )
);

@include mat.all-component-themes($tangerine-app-theme);
