<div class="table-container">
  <table mat-table [dataSource]="groupsData" class="mat-elevation-z8">
      <ng-container matColumnDef="build">
        <th mat-header-cell *matHeaderCellDef> {{'Build'|translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.build}} </td>
      </ng-container>
    
      <ng-container matColumnDef="buildId">
        <th mat-header-cell *matHeaderCellDef> {{'Build ID'|translate}} </th>
        <td mat-cell *matCellDef="let data"> <a [href]="'/releases/qa/apks/archive/'+groupId+'/'+data.buildId+'.apk'" [download]="data.buildId+'.apk'">{{data.buildId}} </a></td>
      </ng-container>
      <ng-container matColumnDef="versionTag">
        <th mat-header-cell *matHeaderCellDef> {{'Version Tag'|translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.versionTag}} </td>
      </ng-container>
    
      <ng-container matColumnDef="releaseType">
        <th mat-header-cell *matHeaderCellDef>{{' Release Type'|translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.releaseType}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> {{'Date'|translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.date|date:'medium'}} </td>
      </ng-container>
      <ng-container matColumnDef="releaseNotes">
        <th mat-header-cell *matHeaderCellDef> {{'Release Notes'|translate}} </th>
        <td mat-cell *matCellDef="let data"> {{data.releaseNotes}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>