

<div class="mdl-color--amber color-header clearfix">
    <div class="color-explanation mdl-color-text--white">
        <h4>Checkout</h4>
    </div>
</div>
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
        <div class="left-info-box">
            <h5>Shopping Cart</h5>
            <div *ngIf="planRequested">Requested plan: {{planRequested}}</div>
            <div *ngIf="amt">Amount to be charged: ${{amt}}</div>
            <div><p>&nbsp;</p>
		<p>Please note: This page displays code from PayPal that will collect your payment information directly.
                Your sensitive payment information (card numbers and card security codes) is never captured and retransmitted
                through our servers.
		</p>
		</div>
            <p></p>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone r-content">
        <div class="body-content">
            <div class="mdl-card mdl-shadow--2dp change-width">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Payment via PayPal</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>Press the following button to complete your transaction on the Paypal website.</p>
                    <form ngNoForm method="post" [action]='paypalUrl'>
                        <input type="hidden" name="SECURETOKEN" [value]="securetoken">
                        <input type="hidden" name="SECURETOKENID" [value]="securetokenid">
                        <input type="hidden" name="PARMLIST" [value]="parmList">
                        <input type="submit" value="Proceed to Checkout">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
