<paper-input id="search-bar" name="search-bar" label="{{'Search cases'|translate}}" #searchBar></paper-input>
<paper-checkbox #viewArchived class="view-archived">{{'View Archived Cases'|translate}}</paper-checkbox>
<div id="search-results" #searchResults>
</div>
<div id="more" *ngIf="thereIsMore && searchDocs.length > 0 && isLoading === false">
  <paper-button raised (click)="loadMore()"><mwc-icon>expand_more</mwc-icon>{{'Load More'|translate}}</paper-button>
</div>
<div id="loading" [hidden]="isLoading === false">
  <paper-progress id="progress-bar" indeterminate></paper-progress>
</div>
  