:host {
    display: block;
  }
  
  #cases-header {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    height: 34px;
    width: 150px;
    background: var(--primary-color-dark);
    color: var(--accent-text-color);
    font-size: 2em;
    padding-top: 22px;
    padding-left: 15px;
  }
  
  #cases-header iron-icon {
    position: relative;
    top: -3px;
  }
  
  .view-archived {
    margin: 5px 25px
  }
  
  #search-bar {
    margin: 0px 25px;
  }
  
  #scan-button {
    position: relative;
    top: 9px;
  }
  
  #scan-screen {
    position: fixed;
    text-align: center;
    z-index: 1001;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF;
  }
  
  #search-results {
    margin: 0px 15px 64px 0px;
    padding-top:1em;
  }
  
  #bottom-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100%;
    background: var(--primary-color);
    color: var(--accent-text-color);
    z-index:999;
  }
  
  #bottom-nav table {
    margin: 7px auto;
    width: 100%;
    max-width: 600px;
  }
  
  #bottom-nav td {
    text-align: center;
    cursor: pointer;
  }
  
  #bottom-nav iron-icon {
    --iron-icon-fill-color: var(--accent-text-color);
    --iron-icon-stroke-color: var(--accent-text-color);
  }
  