<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div *ngIf="roles && roles.length>0">
    <mat-list role="list">
        <mat-list-item *ngFor="let role of roles" role="listitem"><a [routerLink]="'update/'+role.role">{{role.role}}</a></mat-list-item>
    </mat-list>
</div>
<div *ngIf="roles && roles.length<=0">
<p>{{'No roles exist yet for this group.'| translate}}</p>
</div>

<paper-fab mat-raised-button icon="add" color="accent" [routerLink]="['add-role']"></paper-fab>