@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~styles/_tangy-app-variables.scss';

body {
  background: #fafafa;
}
.login-app-content{
  margin-top: 180px;
  font-size: 1.75em;
}
select{
  font-size: 1.3em;
  width: 76%;
}
button.tangy-froms-margin-left{
   margin-left:3rem
}
#icon {
  display: block;
}
.tangerine-app-content{
    /* min-height: 100vh; */
    margin-top: 64px;
}
mat-toolbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.tangy-spacer{
    flex: 1 1 auto;
}

.tangy-foreground-primary{
    color: $tangy-foreground-primary;
}

.tangy-foreground-secondary {
  color: #f26f10;
}

.tangy-no-text-decoration{
    text-decoration: none;
}
.tangy-app-name{
  color: $tangy-app-name;
}
.tangy-unstyled-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tangy-card-content-container{
  margin-left: 3%;
  width: 90%;
  margin-right:5%;
  min-height: vh;
}

.tangy-location-list {
  border-bottom: 1px solid rgba(0,0,0,.12);
  font-size: 14px;
  color: rgba(0,0,0,.87);
  letter-spacing: 0.05em;
}

.tangy-location-list-icon{
  padding-right: 5px;
  padding-top:3.5px;
  color: #f26f10;
}
.menu-tangy-location-list-icon {
  color: #f26f10;
  position: relative;
  bottom: 2px;
  padding-right: 3px;
}

.search-icon{
padding-top:0px;
}

iron-icon {
  color: #3c5b8d !important;
}
.material-icons.mat-11 { font-size: 11px; }
.material-icons.mat-14 { font-size: 14px; }
.material-icons.mat-18 { font-size: 18px; }
.material-icons.mat-24 { font-size: 24px; }
.material-icons.mat-36 { font-size: 36px; }
.material-icons.mat-48 { font-size: 48px; }


.tangy-full-width{
  width: 100%;
}

.tangy-half-width {
  width: 50%;
  margin: 0;
  padding:0;
  display: inline-block;
}

/* Form Stuff*/
.app-input-icon {
    font-size: 1.5em;
  }

.header .title-text {
  color: #3c5b8d;
}

div.more {
  margin-top: 8px;
}

.matmenu_icon {
  color: #f26f10;
  font-weight: 700;
}

.mat-menu-item span {
  position:relative;
  bottom:8px;
  text-align: left;
  padding: 0;
}

.cdk-overlay-pane {
  top: 45px !important;
}

.mat-focused .mat-form-field-placeholder {
  color: #3c5b8d !important;
  font-size: 18px !important;
}
.mat-focused .mat-form-field-placeholder span i {
  font-size: 21px;
}
.mat-form-field-ripple {
  background-color: #3c5b8d !important;
}

.mat-tab-labels {
  background-color: #3c5b8d;
  color: #fff;
  font-weight: 700;
}
.mat-tab-label, .mat-tab-link {
  color: #fff !important;
  font-weight: 700 !important;
}

.mat-tab-label-active {
  background-color: #f26f10;
  opacity: 1.0 !important;
  color: #fff;
  font-weight: 700;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff5a26 !important;
  height: 5px;
}

.mat-tab-header {
  margin-left: -10px;
  margin-right: -10px;
}
  form {
    width: 20em;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

  }

  .group {
    position: relative;
    margin-bottom: 45px;

  }

  .corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  /* Custom styles */

  .corner-ribbon.sticky{
    position: fixed;
  }

  .corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
  }

  /* positions */
  .corner-ribbon.top-right{
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  #error {
    color :$tangy-foreground-error-message;
  }
  #success{
    color :$tangy-foreground-success-message;
  }

  .material-icons  { 
    vertical-align: text-bottom;
  }