@import '~@angular/material/theming';
@import '~styles/_tangy-app-variables.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angularzz Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

// Create the theme object (a Sass map containing all of the palettes).
$tangerine-app-theme: mat-light-theme($tangerine-app-primary, $tangerine-app-accent, $tangerine-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tangerine-app-theme);
