{
  "_id": "settings",
  "language": "en-US",
  "upPass": "pass",
  "groupName": "",
  "hostname": "INSERT_HOSTNAME",
  "groupHost": "http://INSERT_HOSTNAME/db",
  "groupDDoc": "ojai",
  "log": [
    ""
  ],
  "instanceId": "necd-vhga-yymg"
}