{
  "_id": "settings",
  "language": "en-US",
  "upPass": "pass",
  "groupName": "",
  "hostname": "INSERT_HOST_NAME",
  "groupHost": "INSERT_PROTOCOL://INSERT_HOST_NAME/db",
  "groupDDoc": "ojai",
  "log": [
    ""
  ],
  "instanceId": "necd-vhga-yymg"
}
