.tangy-foreground-primary {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
  }
  
  .tangy-location-list-icon {
    color: #f26f10;
    font-weight: 700;
    font-size: 3rem;
  }
  
  mat-list {
    display:block;
    width: 100%;
  }
  
  