.tangy-full-width {
  width: 95%;
}
th,
td {
  text-align: left;
}
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#container {
  display:none
}

.card-title td {
  padding:5px
}

.device-list-btn {
  position: absolute;
  top: 135px;
  right: 20px;
}


.tangy-content {
  margin-top: 1em
}