
.event-info {
  margin-left: 60px;
  border-left: solid 3px var(--primary-text-color);
}
.new-date {
  position: relative;
  height: 30px;
}

.new-date-container {
  position: absolute;
  top: 0px;
  left: -45px;
}

.new-date-number {
}

.new-date-label {
}

.new-date-dot {
  position: absolute;
  top: 12px;
  left: 31px;
  z-index: 98765;
  height: 18px;
}

.icon-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: var(--paper-font-subhead_-_font-family);
	font-size: var(--paper-font-subhead_-_font-size);
	font-weight: var(--paper-font-subhead_-_font-weight);
	line-height: var(--paper-font-subhead_-_line-height);
	min-height: var(--paper-item-min-height, 48px);
	padding: 0 16px;
}
.icon-list-item > mwc-icon {
	width: 56px;
}
.icon-list-item > div {
	min-height: var(--paper-item-body-two-line-min-height, 72px);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	flex-basis: 0.0000000001px;
}
.icon-list-item > div > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.icon-list-item > div > div + div {
	font-size: var(--paper-font-body1_-_font-size);
	font-weight: var(--paper-font-body1_-_font-weight);
	line-height: var(--paper-font-body1_-_line-height);
	color: var(--paper-item-body-secondary-color, var(--secondary-text-color));
}