<md-card>
  <span class="countdown">{{timeRemaining}}⏱</span>
  <span> {{statusMessage}} </span>
  <div>
    <button (click)="clickedStart()">start timer</button>
    <button (click)="clickedStop()">stop timer</button>
    <button (click)="clickedReset()">reset timer</button>
  </div>
  <form>
    <ng-content></ng-content>
    <input type="hidden" id="{{id}}_time_remaining" />
    <input type="hidden" id="{{id}}_time_spent" />
    <input type="hidden" id="{{id}}_last_selected_id" />
    <input type="hidden" id="{{id}}_last_selected_nth" />
    <input type="hidden" id="{{id}}_items_per_minute" />
    <input type="hidden" id="{{id}}_number_of_items_marked" />
  </form>
</md-card>
