@import './_tangy-app-variables.scss';

body {
  background-color: var(--document-background-color); // for the splash screen
}
.login-app-content {
  margin-top: 180px;
}
button.tangy-froms-margin-left {
  margin-left: 3rem;
}
#icon {
  display: block;
}
.tangerine-app-content {
  /* min-height: 100vh; */
  margin-top: 64px;
}
/*
mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
*/

.tangy-spacer {
  flex: 1 1 auto;
}

.tangy-foreground-primary {
  color: var(--primary-color);
}
.tangy-accent-color {
  background: var(--lighter-accent-color);
}
.tangy-foreground-secondary {
  color: var(--accent-color);
}

.tangy-no-text-decoration {
  text-decoration: none;
}
.tangy-app-name {
  color: var(--document-background-color);
}
mat-list {
  margin-bottom: 100px;
}
.tangy-unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tangy-card-content-container {
  margin-left: 3%;
  width: 90%;
  margin-right: 5%;
  min-height: vh;
}

.tangy-location-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 14px;
  color: var(--tertiary-color);
  letter-spacing: 0.05em;
}

.tangy-location-list-icon {
  padding-right: 5px;
  padding-top: 3.5px;
  color: var(--lighter-accent-color);
}
.menu-tangy-location-list-icon {
  color: var(--accent-color);
  position: relative;
  bottom: 2px;
  padding-right: 3px;
}

.search-icon {
  padding-top: 0px;
}

iron-icon {
  color: var(--primary-color) !important;
}
.material-icons.mat-11 {
  font-size: 11px;
}
.material-icons.mat-14 {
  font-size: 14px;
}
.material-icons.mat-18 {
  font-size: 18px;
}
.material-icons.mat-24 {
  font-size: 24px;
}
.material-icons.mat-36 {
  font-size: 36px;
}
.material-icons.mat-48 {
  font-size: 48px;
}

.tangy-full-width {
  width: 100%;
}

.tangy-half-width {
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* Form Stuff*/
.app-input-icon {
  font-size: 1.5em;
}

.header .title-text {
  color: var(--primary-color);
}

div.more {
  margin-top: 8px;
}

.matmenu_icon {
  color: var(--accent-color);
  font-weight: 700;
}

.mat-menu-item span {
  position: relative;
  bottom: 8px;
  text-align: left;
  padding: 0;
}

.mat-focused .mat-form-field-placeholder {
  color: var(--primary-color) !important;
  font-size: 18px !important;
}
.mat-focused .mat-form-field-placeholder span i {
  font-size: 21px;
}
.mat-form-field-ripple {
  background-color: var(--primary-color) !important;
}

.mat-tab-labels {
  background-color: white;
  color: var(--primary-text-color);
  font-weight: 700;
}
.mat-tab-label,
.mat-tab-link {
  color: var(--primary-text-color) !important;
  font-weight: 700 !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
  color: var(--primary-text-color);
  font-weight: 700;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--accent-color) !important;
  height: 5px;
}

.mat-tab-header {
  padding-top: 3px;
  margin-left: -10px;
  margin-right: -10px;
  background: white;
  padding-left: 31px;

}
.mat-tab-label-content {
  text-transform: uppercase;
}
mat-card.mat-card {
  background-color: white;
}
mat-card {
  margin: 15px 15px 15px;
  background: white;
}

mat-card-content > * {
  width: 220px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: var(--accent-text-color);
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

/* Custom styles */

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* positions */
.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#error {
  color: var(--error-color);
}
#success {
  color: var(--success-color);
}
.tangy-page-title {
  font-size: 150%;
}

.tangy-content {
  margin-top: 10%;
  margin-left: 2%;
}

.tangy-content-top-margin {
  margin-top: 64px;
}



  /*
   * Custom Icon List Item component
   *
   * Example:

      <div class="icon-list-item">
        <mwc-icon slot="item-icon">arrow_forward</mwc-icon>
        <div>
          <div>
            foo
          </div>
          <div secondary>
            bar
          </div>
        </div>
      </div>

   */
   
   .icon-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--paper-font-subhead_-_font-family);
    font-size: var(--paper-font-subhead_-_font-size);
    font-weight: var(--paper-font-subhead_-_font-weight);
    line-height: var(--paper-font-subhead_-_line-height);
    min-height: var(--paper-item-min-height, 48px);
    padding: 0 16px;
  }
  .icon-list-item > mwc-icon {
    width: 56px;
  }
  .icon-list-item > div {
    min-height: var(--paper-item-body-two-line-min-height, 72px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 0.0000000001px;
  }
  .icon-list-item > div > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .icon-list-item > div > div + div {
    font-size: var(--paper-font-body1_-_font-size);
    font-weight: var(--paper-font-body1_-_font-weight);
    line-height: var(--paper-font-body1_-_line-height);
    color: var(--paper-item-body-secondary-color, var(--secondary-text-color));
  }

  .icon-list-item>mwc-icon{
    color: var(--primary-color) !important;
  }

.loading-ui-container {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #fff;
  top: 0;
  z-index: 100;
}
