<p>
  <paper-input [disabled]="state === STATE_SYNCING" name="user-short-code" label="{{'Enter the provided import code'|translate}}" #userShortCode></paper-input>
  <paper-button [disabled]="state === STATE_SYNCING" (click)="onSubmit()">{{'submit'|translate}}</paper-button>
</p>
@if (state === STATE_SYNCING) {
  <p>
    {{'Synced'|translate}} {{processedDocs}} {{'of'|translate}} {{totalDocs}}
  </p>
}
@if (state === STATE_NOT_FOUND) {
  <p class="err">
    {{'Record with import code'|translate}} {{shortCode}}  {{'not found.'|translate}}
  </p>
}
@if (state === STATE_ERROR) {
  <p class="err">
    {{'Import not successful. Click Submit to retry.' |translate}}
  </p>
}
