<div class="login-app-content">
  <div class="group">
    <form role="form" novalidate>
      <br>
      <h3 class="tangy-foreground-primary">Sync records</h3>
      <mat-form-field>
        <input name="username" type="text" matInput [(ngModel)]="user.username" required>
        <mat-placeholder>
          <i class="material-icons mat-11 app-input-icon">face</i>Username
        </mat-placeholder>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="password" matInput [(ngModel)]="user.password" type="password" required>
        <mat-placeholder>
          <i class="material-icons mat-11 app-input-icon">lock_open</i>Password
        </mat-placeholder>
      </mat-form-field>
      <button color="primary" mat-raised-button (click)="syncAllRecords()">SYNC</button>
      <br>
      <span id="err">
        <small>{{errorMessage}}</small>
      </span>
    </form>
  </div>
</div>
