<br>
<br>
<mat-card>
    <mat-card-content>
        <p class="mat-headline">{{'syncingStatusSummary'|translate}}</p>
        <span *ngIf="isSyncSuccesful">{{'syncSuccesful'|translate}}</span>
        <span *ngIf="!isSyncSuccesful&&isSyncSuccesful!==undefined">{{'syncUnsuccesful'|translate}}</span>
        <br/>
        <br>
        <p>{{'lastSuccesfulSyncTimestamp'|translate}}:</p>
        <p>{{'totalDocsUploaded'|translate}} {{docsUploaded}}</p>
        <p>{{'totalDocsNotUploaded'|translate}} {{docsNotUploaded}}</p>
        <p>{{'totalPercentageComplete'|translate}} {{syncPercentageComplete|number:'1.2-2'}}%</p>
    </mat-card-content>
    <mat-card-actions>
        <button color="primary" mat-raised-button (click)="pushAllRecords()">{{'syncDataForAllUsers'|translate}}</button>
    </mat-card-actions>
</mat-card>
<br>
<br>
<p class="mat-headline">{{'syncingStatusByUser'|translate}}</p>
<mat-accordion>
    <mat-expansion-panel *ngFor="let syncData of allUsersSyncData">
        <mat-expansion-panel-header>
            {{'username'|translate}}: {{syncData.username}}
        </mat-expansion-panel-header>

        <p>{{'docsUploaded'|translate}} {{syncData.docsUploaded}}</p>
        <p>{{'docsNotUploaded'|translate}} {{syncData.docsNotUploaded}}</p>
        <p>{{'percentageComplete'|translate}}: {{syncData.syncPercentageComplete|number:'1.2-2'}}%</p>

    </mat-expansion-panel>

</mat-accordion>