<h2> Sync records</h2>

<md-input-container>
  <label>Username</label>
  <input mdInput [(ngModel)]="user.username" place>
</md-input-container>
<md-input-container>
  <label>Password</label>
  <input mdInput [(ngModel)]="user.password" type="password">
</md-input-container>
<div [hidden]="!isLoading">
  <h2>Working</h2><img src="../../../../assets/tangy-loading.gif"></div>

<button md-raised-button (click)="pushAllRecords()">Push All records</button>
<button md-raised-button (click)="pullAllRecords()">Pull All records</button>
<button md-raised-button (click)="syncAllRecords()">Sync All records</button>