span.mat-icon-button{
    cursor: pointer;
}

.link {
    margin: 0px 15px;
}

.unpublished-button {
  margin-left: 2rem;
}

.info-button{
  /*width:5rem !important;*/
  padding: 0;
  min-width: 0;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border:none;
  background-color: transparent;
}
mat-list {
  margin-bottom: 10px;
}