/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import '~bootstrap/dist/css/bootstrap.css';*/

button.tangy-froms-margin-left{
   margin-left:3rem
}

.tangerine-app-content{
    min-height: 100vh;
}
md-toolbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}