.tangy-full-width {
  width: 90%;
}
span.tangy-foreground-secondary {
  padding-top: 0.3rem;
}
span.form-list-header {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.mat-card-content {
  padding-top: 1em;
}

h1.section-title {
  color: var(--accent-color);
  margin-left: 30px;
}

table.release-table {
  padding: 15px;
}
.tangy-content {
  margin-top: 64px;
  margin-left: 0%;
}
.mat-card-title {
  color: var(--tertiary-color);
  font-size: 120%;
  margin-left: 2.5%;
}
.tangy-page-title {
  margin-left: 1.1%;
}
.disabled-button {
  color: var(--accent-color);
  opacity: 0.5;
}
mat-list-item {
  font-weight: bold;
}
#group-title-small {
  color: gray;
  margin-left: 1%;
}
mat-select {
  visibility: hidden;
}
.mat-option {
  width: 150px;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 3px 5px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.tangy-spacer-drag {
  width: 60%;
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
