#container {
  margin: 0px 15px;
}

paper-input {
  margin: 0px 15px;
}

#password-configuration {
  margin-top: -65px;
}

paper-button {
  background: var(--mdc-theme-secondary);
  color: white;
  float: right;
  margin-top: 15px;
}