.device-sheet-btn {
  position: absolute;
  top: 135px;
  right: 20px; 
}
.table-container {
  max-width: 100%;
  /* This is key for scrolling the table as opposed to the table pushing layout out. */
  overflow: auto;
}
mat-table {
  /* Setting min-width here is the key to when the sticky column engages. */
  min-width: 1400px
}