

<div *ngIf="mode === 'MODE_LIST'">
  <a mat-raised-button color="accent" class="add-device-button" (click)="addDevice()">
    <i class="material-icons">add_circle</i>{{' '}}{{'Create a Device'|translate}}
  </a>
  <table>
    <tr class="header">
      <td>ID</td>
      <td>Assigned Location</td>
      <td>Sync Locations</td>
      <td>Claimed</td>
      <td></td>
    </tr>
    <tr *ngFor="let deviceInfo of deviceInfos">
      <td>{{deviceInfo._id}}</td>
      <td>{{deviceInfo.assignedLocation}}</td>
      <td>{{deviceInfo.syncLocations}}</td>
      <td>{{deviceInfo.claimed}}</td>
      <td >  
        <a mat-raised-button color="accent" class="back-button" (click)="editDevice(deviceInfo._id)">
          <i class="material-icons">edit</i>{{' '}}{{'edit'|translate}}
        </a>
      </td>
    </tr>
  </table>
</div>
  <a mat-raised-button *ngIf="mode === 'MODE_EDIT'" color="accent" class="back-button" (click)="listDevices()">
    <i class="material-icons">keyboard_arrow_left</i>{{' '}}{{'back'|translate}}
  </a>

<div [hidden]="mode !== 'MODE_EDIT'" #modeEditContainer>
</div>