<app-breadcrumb [title]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="generate-devices-btn">
  <button mat-raised-button color="accent" (click)="generateDevices()">
    Generate Devices
  </button>
</div>
<div class="device-sheet-btn">
  <a routerLink="../device-sheet">
    <button mat-raised-button color="accent">
      Export Device Sheet
    </button>
  </a>
</div>
<div class="table-container">
    <table mat-table [dataSource]="deviceInfos" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element._id.substr(0,6)}} </td>
      </ng-container>
      <ng-container matColumnDef="assigned-location">
        <th mat-header-cell *matHeaderCellDef> Assigned Location </th>
        <td mat-cell *matCellDef="let element"><div class="location-cell" [innerHTML]="element.assignedLocation"></div></td>
      </ng-container>
      <ng-container matColumnDef="sync-location">
        <th mat-header-cell *matHeaderCellDef> Sync Settings </th>
        <td mat-cell *matCellDef="let element"><div class="location-cell" [innerHTML]="element.syncLocations"></div></td>
      </ng-container>
      <ng-container matColumnDef="claimed">
        <th mat-header-cell *matHeaderCellDef> Claimed </th>
        <td mat-cell *matCellDef="let element">
          <mwc-icon *ngIf="element.claimed">done</mwc-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="registeredOn">
        <th mat-header-cell *matHeaderCellDef> Registered on </th>
        <td mat-cell *matCellDef="let element"> {{element.registeredOn}} </td>
      </ng-container>
      <ng-container matColumnDef="syncedOn">
        <th mat-header-cell *matHeaderCellDef> Synced on </th>
        <td mat-cell *matCellDef="let element"> {{element.syncedOn}} </td>
      </ng-container>
      <ng-container matColumnDef="updatedOn">
        <th mat-header-cell *matHeaderCellDef> Updated on </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedOn}} </td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>

      

      <!-- Star Column -->
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="!element.claimed" (click)="getDeviceRegistrationCode(element._id)">
                <mat-icon>fingerprint</mat-icon><span>{{'registration code'|translate}}</span>
              </button>
              <button mat-menu-item (click)="editDevice(element._id)">
                <mat-icon>edit</mat-icon><span>{{'edit'|translate}}</span>
              </button>
              <button mat-menu-item (click)="resetDevice(element._id)">
                <mat-icon>settings_backup_restore</mat-icon><span>{{'reset'|translate}}</span>
              </button>
              <button mat-menu-item (click)="deleteDevice(element._id)">
                <mat-icon>delete</mat-icon><span>{{'delete'|translate}}</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="devicesDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: devicesDisplayedColumns;"></tr>
    </table>
</div>
    <paper-fab mat-raised-button icon="add" color="accent" class="action" (click)="addDevice()">
    </paper-fab>
