<h2>{{data.student.name}} {{data.student.surname}}</h2>
<h3>{{curriculumLabel}}</h3>
<p>{{'Phone'|translate}}: {{data.student.phone}}</p>
<div>
  <p>{{'Absent'|translate}}</p>
  <ul>
    <li *ngFor="let record of absentRecords">
      {{record.reportLocaltime}}
    </li>
  </ul>
  <p style="margin-left: 1em" *ngIf="absentRecords.length === 0">{{'No absences recorded in the past month.'|translate}}</p>
  
  <ng-container *ngIf="data.student.ignoreCurriculumsForTracking; else notSharedScores">
    <p>{{'Scores'|translate}}</p>
    <ul>
      <li *ngFor="let item of data.student.unitScores | keyvalue">
        {{item.key}}:{{item.value}}
      </li>
    </ul>
    <p>{{'Percentages:'|translate}}</p>
    <ul>
      <li *ngFor="let item of data.student.scores | keyvalue">
        {{item.key}}:{{item.value}}%
      </li>
    </ul>
  </ng-container>
  
  <ng-template #notSharedScores>
    <p>{{'Scores'|translate}}</p>
    <ul>
      <ng-container *ngFor="let unit of this.units; index as unitIndex">
      <li *ngIf="data.student['score_'+unitIndex]">
        {{unit}}: {{data.student['score_'+unitIndex]}}
      </li>
      </ng-container>
    </ul>
    <p *ngIf="data.student['score']">{{'score average is'|translate}}: {{data.student['score']}}%</p>
  </ng-template>
</div>

<!--{{data | json}}-->