<div class="wrapper">
  <h1>Maintenance</h1>
  <div class="Rtable Rtable--2cols">

    <div class="Rtable-cell">
      <div class="action">
        <paper-button (click)="compact()">{{'Compact Database'|translate}}</paper-button>
      </div>
    </div>
    <div class="Rtable-cell">
      {{'Compacting the database will take a while if there are many records in the database.'|translate}}
    </div>

    <div class="Rtable-cell" *ngIf="isCordovaApp">
      <div class="action">
        <paper-button (click)="pruneFiles()">{{'Cleanup Files'|translate}}</paper-button>
      </div>
    </div>
    <div class="Rtable-cell">
      {{'This will delete any backups on this tablet that are in the "backup" or "restore" directories. Be sure you have transferred them before doing this procedure.'|translate}}
    </div>

    <div class="Rtable-cell" *ngIf="!isCordovaApp">
      <div class="action">
        <paper-button (click)="checkPermissions()">{{'Check Permissions'|translate}}</paper-button>
      </div>
    </div>
    <div class="Rtable-cell" *ngIf="!isCordovaApp">
    </div>

  </div>
  
  <h2>Statistics</h2>
    
  <div *ngIf="displayLowStorageWarning" class="error">
    <p>{{'Low Disk space!!!'|translate}}</p>
  </div>
  <div class="Rtable Rtable--2cols">

    <div class="Rtable-cell"><h3>Disk Space</h3></div>
    <div [className]="isStorageThresholdExceeded ? 'Rtable-cell error' : 'Rtable-cell'"><h3>{{storageAvailable}}</h3></div>
    
  </div>
</div>