.tangy-full-width {
  width: 95%;
}
#content {
  margin: 15px;
}
span.tangy-foreground-secondary {
  padding-top: 0.3rem;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  width: 70%;
}

.group-card {
  cursor: pointer;
}

.group-avatar {
  font-size: 350%;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title a {
  text-decoration: none;
  color: var(--tertiary-color);
}
.tangy-page-title {
  margin-left: 2%;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card.mat-mdc-card {
  background-color: var(--accent-text-color);
}
.tangy-foreground-secondary {
  color: var(--lighter-accent-color);
}

.add-group-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
