mat-card {
  margin-top: 1em;
}

.mat-card-header-text {
  margin: 1em 0;
  font-size: 24px;
  font-weight: 400;
}

.progress {
  margin-top: 1em;
  font-size: large;
  background: greenyellow;
}

.status {
  margin-top: 1em;
  font-size: large;
}

.error {
  text-align: center;
  margin-top: 2em;
  color: red;
  font-size: large;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#progressLabel {
  margin-top: 1em;
}

.logs {
  margin-top: 1em;
}
