<mat-tab-group>
  <mat-tab label="{{'Export Backup'|translate}}">
    <ng-template matTabContent>
      <div class="container">
        <mat-card>
          <div class="mat-card-header-text">
            {{'Export Backup'|translate}}
          </div>
          <mat-card-content class="card-content">
            <p>{{'Export Data creates a backup of all of your records and saves it to your device.'|translate}}</p>
            <p>{{'Backup directory'|translate}} : {{backupDir}}</p>
          </mat-card-content>
<!--          <input type="number" #splitFiles maxlength="5">-->
          <div [hidden]="!shouldShow">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Docs per backup file</mat-label>
              <input type="number" matInput #splitFiles [value]="splitFilesValue" maxlength="5">
              <mat-hint align="start"><strong>Number of docs per backup file</strong></mat-hint>
            </mat-form-field>
          </div>
          <mat-card-actions class="card-actions">
            <button color="primary" mat-raised-button [hidden]="hideExportButton" (click)="exportAllRecords()">{{'EXPORT DATA FOR ALL USERS'|translate}}</button>
          </mat-card-actions>
        </mat-card>
        <div [hidden]="hideLogs" class="logs">
          <p>The Progress section shows specific parts of the backup's progress such as the creation of individual backup files. The Status Log section shows the general status of the backup and its completion. </p>
          <div id="progressLabel"><h2>Progress</h2></div>
          <div [innerHTML]="progressMessage" class="progress"></div>
          <div id="statusLabel"><h2>Status Log</h2></div>
          <div [innerHTML]="statusMessage" class="status"></div>
          <div [innerHTML]="errorMessage" class="error"></div>
        </div>
        
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>




