<mat-tab-group>
  <mat-tab label="{{'Export Backup'|translate}}">
    <ng-template matTabContent>
      <div class="container">
        <mat-card>
          <div class="mat-card-header-text">
            {{'Export Backup'|translate}}
          </div>
          <mat-card-content class="card-content">
            <p>{{'Export Data creates a backup of all of your records and saves it to your device.'|translate}}</p>
            <p>{{'Backup directory'|translate}} : {{backupDir}}</p>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button color="primary" mat-raised-button (click)="exportAllRecords()">{{'EXPORT DATA FOR ALL USERS'|translate}}</button>
          </mat-card-actions>
        </mat-card>
        <div [innerHTML]="statusMessage" class="status"></div>
        <div [innerHTML]="errorMessage" class="error"></div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>




