<app-case-breadcrumb *ngIf="caseService && caseService.case && caseService.case._id" [caseId]="caseService.case._id"></app-case-breadcrumb>

<div *ngIf="caseService" class="subject-header">
  <h1>
    <iron-icon icon="{{caseService.case.complete ? 'notification:folder-special' : 'folder'}}"></iron-icon> 
    {{caseService.case.label}} ({{caseService.case._id.substr(0,6)}})
  </h1>
  <div secondary>Opened: {{caseService.case.openedDate | date:'medium'}}, Status: {{caseService.case.complete ? 'Complete' : 'Incomplete'}} </div>
</div>

<div class="wrapper">
  <div class="event-cards" *ngIf="caseService">
    <paper-card 
      class="event-card {{eventInfo.required ? 'required' : ''}}" 
      icon="event"
      heading="{{eventInfo.caseEventDefinition.name}}"
      *ngFor="let eventInfo of caseService.eventsInfo"
    >
      <div class="card-content">
        <span *ngIf="eventInfo.caseEvents.length === 0">
          You have not started this event.
        </span>
        <div *ngIf="eventInfo.caseEvents.length > 0" role="listbox">
          <paper-icon-item 
            *ngFor="let caseEvent of eventInfo.caseEvents"
            routerLink="/case/event/{{caseService.case._id}}/{{caseEvent.id}}"
          >
            <iron-icon icon="{{caseEvent.complete ? 'notification:event-available' : 'event'}}" slot="item-icon"></iron-icon> 
            <paper-item-body two-line>
              <div>{{eventInfo.caseEventDefinition.name}} ({{caseEvent.id.substr(0,6)}})</div>
              <div secondary>Opened: {{caseEvent.startDate | date:'medium'}}, Status: {{caseEvent.complete ? 'Complete' : 'Incomplete'}}</div>
            </paper-item-body>
          </paper-icon-item>
        </div>
      </div>
      <div class="card-actions" *ngIf="eventInfo.canCreate">
        <paper-button 
          *ngIf="eventInfo.canCreate && eventInfo.caseEvents.length === 0" 
          (click)="startEvent(eventInfo.caseEventDefinition.id)">
          start event
        </paper-button>
        <paper-button 
          *ngIf="eventInfo.canCreate && eventInfo.caseEvents.length > 0" 
          (click)="startEvent(eventInfo.caseEventDefinition.id)">
          start another
        </paper-button>
      </div>

    </paper-card>
  </div>
</div>