<p *ngIf="caseService">
</p>

<h2>Events</h2>
<ul *ngIf="caseService">
  <li *ngFor="let eventInfo of caseService.eventsInfo">
    <h3>
      {{eventInfo.caseEventDefinition.name}}
    </h3>
    <paper-button *ngIf="eventInfo.canCreate" (click)="startEvent(eventInfo.caseEventDefinition.id)">start event</paper-button>
    <ul>
      <li *ngFor="let caseEvent of eventInfo.caseEvents">
        <a routerLink="/case/event/{{caseService.case._id}}/{{caseEvent.id}}">{{caseEvent.name}}</a>
      </li>
    </ul>
  </li>
</ul>