<mat-tab-group>
  <mat-tab label="My Forms">
    <mat-card class="tangy-card-content-container">
      <mat-list>
        <mat-list-item class="tangy-location-list">
          <span class="tangy-foreground-primary">Select Form</span>
        </mat-list-item>
        <mat-list-item class="tangy-location-list" *ngFor="let form of formList; let formIndex=index">
          <a class="tangy-foreground-primary" [routerLink]="['/tangy-forms-player/']" [queryParams]={formIndex:formIndex}>
            <i class="material-icons md-24 tangy-location-list-icon">play_circle_filled</i>
          </a>
          <span>{{form.title}}</span>
        </mat-list-item>
      </mat-list>

      <p *ngIf="!formList" class="mat-h3">No Forms Currently Defined</p>
    </mat-card>

  </mat-tab>
  <mat-tab label="Schools Visited This Month">
    <br>
    <mat-card class="tangy-card-content-container">
      <app-schools-visited></app-schools-visited>
    </mat-card>
  </mat-tab>
</mat-tab-group>