<div id="cases-header">
  <iron-icon icon="apps"></iron-icon> Cases
</div>

<div id="bottom-nav">
  <table>
    <tr>
      <td (click)="focusOnFind()">
        <iron-icon icon="search"></iron-icon>
      </td>
      <td routerLink="/new-form-response">
        <iron-icon icon="add"></iron-icon>
      </td>
      <td (click)="scan()">
        <iron-icon icon="image:filter-center-focus"></iron-icon>
      </td>
    </tr>
    <tr>
      <td (click)="focusOnFind()">{{'Find Case'|translate}}</td>
      <td routerLink="/new-form-response">{{'New Case'|translate}}</td>
      <td (click)="scan()">{{'Scan Code'|translate}}</td>
    </tr>
  </table>
</div>

<paper-input id="search-bar" name="search-bar" label="{{'Search cases'|translate}}" #searchBar></paper-input>

<div id="scan-screen" [hidden]="showScan === false">
  <app-search-barcode (change)="onScanChange($event)" (cancel)="onScanCancel()" (error)="onScanError()"
    #scanner></app-search-barcode>
</div>

<div id="search-results" #searchResults>
</div>

<div id="more" *ngIf="thereIsMore && searchDocs.length > 0 && isLoading === false">
  <paper-button raised (click)="loadMore()"><mwc-icon>expand_more</mwc-icon>{{'Load More'|translate}}</paper-button>
</div>
<div id="loading" [hidden]="isLoading === false">
  <paper-progress id="progress-bar" indeterminate></paper-progress>
</div>
