<mat-tab-group animationDuration="0ms">
  <mat-tab label="{{'SEARCH'|translate}}">
    <ng-template matTabContent>
      <app-search></app-search>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{'SCHEDULE'|translate}}">
    <ng-template matTabContent>
      <app-case-event-schedule></app-case-event-schedule>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="showIssues" label="{{'ISSUES'|translate}}">
    <ng-template matTabContent>
      <app-issues></app-issues>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="showCaseReports" label="{{'REPORTS'|translate}}">
    <ng-template matTabContent>
      <app-case-reports></app-case-reports>
    </ng-template>
  </mat-tab>
</mat-tab-group>
