.mat-column-select {
  overflow: initial;
}

.mat-column-Name {
  padding-right:5px;
}

th.mat-mdc-header-cell {
  text-align: right;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

/*
 TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.
 */
.mat-tab-label-active {
  background-color: greenyellow;
}

/*
 * KlassGroupingView
 */
.concerning {
  background-color: #de9c75 !important;
}
.poor {
  background-color: #e5d095 !important;
}
.mediocre {
  background-color: #DC921F !important;
}
.good {
  background-color: #c9dc88 !important;
}
.great {
  background-color: #87db90 !important;
}
table {
  border: 2px solid white;
  background-color: #eee;
  margin-bottom: 2em;
}
table td,
table th {
  padding: 0.2em;
  border: 2px solid white;
}
table th {
  font-size: initial;
  font-weight: normal;
  color:initial;
  background-color: whitesmoke;
  text-align: left;
  /*border: 1px solid black;*/
}
.subtask-report {
  margin-top: 1em;
}
