<mat-tab-group animationDuration="0ms">
  <mat-tab label="{{'Online Sync'|translate}}">
    <ng-template matTabContent>
      <div>{{'Online Sync is used when there is a reliable Internet connection. If you have no Internet connection, use the P2P tab above to transfer records between nearby devices.'|translate}}</div>
      <app-sync></app-sync>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{'P2P Sync'|translate}}">
    <ng-template matTabContent>
      <app-peers></app-peers>
    </ng-template>
  </mat-tab>

</mat-tab-group>