
<tangerine-form formId="tangerine-eftouch-demo" #tangerineForm>

<div id="slide1">
  <tangerine-form-card #card1>
    id: 'card1'
    fields:
    - type: 'imageSelect'
      key: 'picImage1'
      transitionAudio: 'url'
      expressionProperties:
        foo: 'model.picImage1 === "airplane" ? this.field.templateOptions.description="Good job!": this.field.templateOptions.description="Please select airplane";'
      templateOptions:
        description: 'Please begin by selecting an airplane.'
        label: 'Select one of these.'
        type: 'text'
        imageList:
          - image: 'https://ictatrti.github.io/eftouch-test1/assets/airplane.png'
            value: 'airplane'
            audio: 'url1'
          - image: 'https://ictatrti.github.io/eftouch-test1/assets/apple.png'
            value: 'apple'
            audio: 'url2'
          - image: 'https://ictatrti.github.io/eftouch-test1/assets/banana.png'
            value: 'banana'
  </tangerine-form-card>
  <div ngClass="cardRight">
    <a (click)='show("#slide2","#slide1")'>Next</a>
  </div>
</div>

  <div id="slide2">
    <tangerine-form-card #card2>
    id: 'card2'
    fields:
    - type: 'imageSelect'
      key: 'picImage2'
      expressionProperties:
        foo: 'model.picImage2 === "apple" ? this.field.templateOptions.description="Good job!": this.field.templateOptions.description="Please select apple";'
      templateOptions:
        description: 'Please being by selecting an apple.'
        label: 'Select one of these.'
        type: 'text'
        imageList:
        - image: 'https://ictatrti.github.io/eftouch-test1/assets/banana.png'
          value: 'banana'
        - image: 'https://ictatrti.github.io/eftouch-test1/assets/apple.png'
          value: 'apple'
        - image: 'https://ictatrti.github.io/eftouch-test1/assets/airplane.png'
          value: 'airplane'

  </tangerine-form-card>
    <div><a (click)='show("#slide1","#slide2")'>Back</a></div>
  </div>

</tangerine-form>




